In [ ]:
–ü–æ–¥–≥–æ—Ç–æ–≤–∫–∞ –∫ —Å–æ–±–µ—Å–µ–¥–æ–≤–∞–Ω–∏—é

In [ ]:
join - —ç—Ç–æ —Ç–∏–ø –æ–±—ä–µ–¥–∏–Ω–µ–Ω–∏—è —Ç–∞–±–ª–∏—Ü
INNER JOIN - –±–µ—Ä–µ—Ç —Ç–æ–ª—å–∫–æ —Ç–µ —Å—Ç—Ä–æ–∫–∏, –∫–æ—Ç–æ—Ä—ã–µ –∏–º–µ—é—Ç —Å–æ–≤–ø–∞–¥–µ–Ω–∏–µ –ø–æ –∫–ª—é—á—É –≤ –æ–±–µ–∏—Ö —Ç–∞–±–ª–∏—Ü–∞—Ö.
–≤ —Å–ª—É—á–∞–µ —Å–æ–≤–ø–∞–¥–µ–Ω–∏–π –≤ –æ–±–µ–∏—Ö —Ç–∞–±–ª–∏—Ü–∞—Ö - 
–ë—É–¥–µ—Ç —Å–æ–∑–¥–∞–≤–∞—Ç—å—Å—è –∫–æ–º–±–∏–Ω–∞—Ü–∏—è —Å—Ç—Ä–æ–∫ –∏–∑ –æ–±–µ–∏—Ö —Ç–∞–±–ª–∏—Ü.
–ï—Å–ª–∏ –≤ –ø—Ä–∞–≤–æ–π —Ç–∞–±–ª–∏—Ü–µ –Ω–µ—Å–∫–æ–ª—å–∫–æ —Å–æ–≤–ø–∞–¥–µ–Ω–∏–π –¥–ª—è –æ–¥–Ω–æ–π —Å—Ç—Ä–æ–∫–∏ –ª–µ–≤–æ–π —Ç–∞–±–ª–∏—Ü—ã, —Ç–æ –ª–µ–≤—ã–µ —Å—Ç—Ä–æ–∫–∏ —Ä–∞–∑–º–Ω–æ–∂–∞—é—Ç—Å—è.
–≠—Ç–æ –Ω–µ —Å–æ–≤—Å–µ–º –¥—É–±–ª—å, –∞ –¥–µ–∫–∞—Ä—Ç–æ–≤–æ –ø—Ä–æ–∏–∑–≤–µ–¥–µ–Ω–∏–µ —Å–æ–≤–ø–∞–¥–∞—é—â–∏—Ö —Å—Ç—Ä–æ–∫.

–î–µ–∫–∞—Ä—Ç–æ–≤–æ –ø—Ä–æ–∏–∑–≤–µ–¥–µ–Ω–∏–µ (CROSS JOIN) ‚Äî 
—ç—Ç–æ –æ–±—ä–µ–¥–∏–Ω–µ–Ω–∏–µ –∫–∞–∂–¥–æ–π —Å—Ç—Ä–æ–∫–∏ –ø–µ—Ä–≤–æ–π —Ç–∞–±–ª–∏—Ü—ã —Å –∫–∞–∂–¥–æ–π —Å—Ç—Ä–æ–∫–æ–π –≤—Ç–æ—Ä–æ–π —Ç–∞–±–ª–∏—Ü—ã.

    
LEFT JOIN - 
–ï—Å–ª–∏ –±–µ—Ä–µ–º –ø–æ–ª–µ –∏–∑ –ª–µ–≤–æ–π —Ç–∞–±–ª–∏—Ü—ã 
‚Üí –≤—Å–µ —Å—Ç—Ä–æ–∫–∏ –ª–µ–≤–æ–π —Ç–∞–±–ª–∏—Ü—ã —Å–æ—Ö—Ä–∞–Ω—è—é—Ç—Å—è, NULL –Ω–µ –±—É–¥–µ—Ç.
–ï—Å–ª–∏ –±–µ—Ä–µ–º –ø–æ–ª–µ –∏–∑ –ø—Ä–∞–≤–æ–π —Ç–∞–±–ª–∏—Ü—ã 
‚Üí –æ—Ç–æ–±—Ä–∞–∂–∞—é—Ç—Å—è —Ç–æ–ª—å–∫–æ —Å–æ–≤–ø–∞–≤—à–∏–µ –∑–Ω–∞—á–µ–Ω–∏—è, 
–∞ —Å—Ç—Ä–æ–∫–∏ –±–µ–∑ —Å–æ–≤–ø–∞–¥–µ–Ω–∏–π –∑–∞–º–µ–Ω—è—é—Ç—Å—è NULL.


RIGHT JOIN - –∞–Ω–∞–ª–æ–≥–∏—á–Ω–æ, –∫–∞–∫ –¥–ª—è left, –Ω–æ –¥–ª—è –ø—Ä–∞–≤–æ–π —Ç–∞–±–ª–∏—Ü—ã 
FULL JOIN - –ï—Å–ª–∏ –µ—Å—Ç—å —Å–æ–≤–ø–∞–¥–µ–Ω–∏–µ ‚Äî —Å—Ç—Ä–æ–∫–∏ —Å–æ–µ–¥–∏–Ω—è—é—Ç—Å—è. 
–ï—Å–ª–∏ –≤ –æ–¥–Ω–æ–π —Ç–∞–±–ª–∏—Ü–µ —Å—Ç—Ä–æ–∫–∏ –±–µ–∑ –ø–∞—Ä—ã, —Ç–æ –≤ –¥—Ä—É–≥–æ–π –ø–æ–¥—Å—Ç–∞–≤–ª—è–µ—Ç—Å—è NULL.

In [ ]:
–ß—Ç–æ —Ç–∞–∫–æ–µ –∏–Ω–¥–µ–∫—Å, –∫–∞–∫–∏–µ —Ç–∏–ø—ã –∏–Ω–¥–µ–∫—Å–æ–≤ –µ—Å—Ç—å –≤ PostgreSQL, –∫–∞–∫ –æ–Ω–∏ —Ä–∞–±–æ—Ç–∞—é—Ç?
–ö–ª–∞—Å—Ç–µ—Ä–Ω—ã–π - 1 –Ω–∞ —Ç–∞–±–ª–∏—Ü—É, —Å–æ–∑–¥–∞–µ—Ç—Å—è, —á—Ç–æ–±—ã –æ—Ä–≥–∞–Ω–∏–∑–æ–≤–∞—Ç—å –ø–æ—Ä—è–¥–æ–∫ —Å—Ç—Ä–æ–∫ –∏ –æ–±–ª–µ–≥—á–∏—Ç—å –≤—ã–±–æ—Ä–∫—É. –∑–Ω–∞—á–µ–Ω–∏—è –≤ –ø–æ–ª—è—Ö –¥–æ–ª–∂–Ω—ã –±—ã—Ç—å —É–Ω–∏–∫–∞–ª—å–Ω—ã. –º–æ–∂–Ω–æ –Ω–µ—Å–∫–æ–ª—å–∫–æ –ø–æ–ª–µ–π. –ü—Ä–∏ —Å–æ–∑–¥–∞–Ω–∏–∏ –∫–ª–∞—Å—Ç–µ—Ä–Ω–æ–≥–æ –∏–Ω–¥–µ–∫—Å–∞ —Å–æ–∑–¥–∞–µ—Ç—Å—è —Å—Ç—Ä—É–∫—Ç—É—Ä–∞ –≤ –ë–î
Noncluster - –º–æ–∂–Ω–æ –Ω–µ—Å–∫–æ–ª—å–∫–æ –ø–æ–ª–µ–π, —Å–æ–∑–¥–∞—é—â–∏—Ö –ø–æ—Ä—è–¥–æ–∫ —Å—Ç—Ä–æ–∫, –¥–ª—è –æ–±–ª–µ–≥—á–µ–Ω–∏—è –≤—ã–±–æ—Ä–∫–∏. –Ω–µ –∑–∞–Ω–∏–º–∞–µ—Ç –≤ –ë–î –º–µ—Å—Ç–æ
–ü–æ–∫—Ä—ã–≤–Ω–æ–π –∏–Ω–¥–µ–∫—Å - —ç—Ç–æ –≤—ã–±–æ—Ä–∫–∞ –ø–æ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ —á–∞—Å—Ç–æ –∏—Å–ø–æ–ª—å–∑—É—é—Ç—Å—è –≤ –∑–∞–ø—Ä–æ—Å–µ, —Ç–æ –µ—Å—Ç—å –ø–æ–∫—Ä—ã—Ç–∏–µ —Ç–∞–±–ª–∏—Ü—ã —Å—Ç—Ä—É–∫—Ç—É—Ä–æ–π, –¥–ª—è —É—Å–∫–æ—Ä–µ–Ω–∏—è –≤—ã–≤–æ–¥–∞ –¥–∞–Ω–Ω—ã—Ö

In [1]:
–ø—Ä–æ Explain –∏ Explain Analyze —Ö–æ—Ä–æ—à–æ —Ä–∞—Å—Å–∫–∞–∑–∞–Ω–æ —Ç—É—Ç 
https://www.youtube.com/watch?v=bzCqU1gSsM0

SyntaxError: invalid syntax (3203103757.py, line 1)

In [2]:
–ø–æ–∑–≤–æ–ª—è–µ—Ç –ø–æ—Å–º–æ—Ç—Ä–µ—Ç—å —Å—Ö–µ–º—É –≤—ã–ø–æ–ª–Ω–µ–Ω–∏—è –∑–∞–ø—Ä–æ—Å–∞, –≤—Ä–µ–º—è –≤—ã–ø–æ–ª–Ω–µ–Ω–∏—è –∏ –ø—Ä–∏–º–µ–Ω—è–µ—Ç—Å—è –ª–∏ –∏–Ω–¥–µ–∫—Å –∏–ª–∏ –Ω–µ—Ç

Explore - –ø–æ–∫–∞–∑—ã–≤–∞–µ—Ç –∫–∞–∫ –±—ã —Ç–µ–æ—Ä–∏—é, –≤—Ä–µ–º—è –≤—ã–ø–æ–ª–Ω–µ–Ω–∏—è –∑–∞–ø—Ä–æ—Å–∞, –∞ Explain Analyze –ø–æ–∫–∞–∑—ã–≤–∞–µ—Ç —Ä–µ–∞–ª—å–Ω–æ–µ –≤—ã–ø–æ–ª–Ω–µ–Ω–∏–µ

–¥–ª—è –æ–±—ã—á–Ω—ã—Ö –∑–∞–ø—Ä–æ—Å–æ–≤ –æ–±—ã—á–Ω–æ —Å—Ç—Ä–æ—è—Ç btree –∏–Ω–¥–µ–∫—Å, –¥–ª—è –≤—Å—è–∫–∏—Ö –±–æ–ª–µ–µ –≥–∏–±–∫–∏—Ö –∑–∞–ø—Ä–æ—Å–æ–≤, –≤—Ä–æ–¥–µ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–µ like '%abc%' –º–æ–∂–Ω–æ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å gin –∏–Ω–¥–µ–∫—Å

–ø–æ–¥–∫–ª—é—á–µ–Ω–∏–µ gin –∏–Ω–¥–µ–∫—Å–∞:

–≤–∞–∂–Ω–æ —É–µ—Å—Ç—å, —á—Ç–æ –∏–Ω–¥–µ–∫—Å –Ω–µ –æ–±—è—Ö–∞–Ω –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å—Å—è
–µ—Å–ª–∏ –≤—ã–±–æ—Ä–∫–∞ –±–æ–ª—å—à–∞—è, —Å–∏—Å—Ç–µ–º–∞ –º–æ–∂–µ—Ç —Ä–µ—à–∏—Ç—å, —á—Ç–æ –µ–π –≤—ã–≥–æ–¥–Ω–µ–µ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –ø–æ—Å—Ç—Ä–æ—á–Ω—ã–π –ø–æ–∏—Å–∫

SyntaxError: invalid syntax (169757806.py, line 1)

In [ ]:
CREATE EXTENSION pg_trgm

select * 
from perf_test
where reason like '%bc%'
;

create index trgm_idx_perf_reason on perf_test using gin (reason gin_trgm_ops)

In [ ]:
CTE - —ç—Ç–æ —Åommon table expression
–ø–æ–∑–≤–æ–ª—è–µ—Ç —Å–¥–µ–ª–∞—Ç—å —Ä–µ–∫—É—Ä—Å–∏–≤–Ω—ã–π –∑–∞–ø—Ä–æ—Å (
    with RECURSIVE as t ()
)

 –ª–∏–±–æ –≤—ã–≤–µ—Å—Ç–∏ –∑–∞–ø—Ä–æ—Å –Ω–∞—Ä—É–∂—É, –µ—Å–ª–∏ –æ–Ω –Ω–µ—Å–∫–æ–ª—å–∫–æ —Ä–∞–∑ –∏—Å–ø–æ–ª—å–∑—É–µ—Ç—Å—è –≤ –æ–±—â–µ–º –∑–∞–ø—Ä–æ—Å–µ

CTE –ø–æ–ª–µ–∑–µ–Ω –ø—Ä–∏ 
1) –ü–µ—Ä–µ–±–æ—Ä–µ –∑–Ω–∞—á–µ–Ω–∏–π –≤ –∫–∞—Ç–∞–ª–æ–≥–∞—Ö, –º–∞—Ä—à—Ä—É—Ç–∞—Ö, –∏–µ—Ä–∞—Ä—Ö–∏–∏
WITH top_users AS (
    SELECT id, name, score 
    FROM users 
    WHERE score > 1000
)
SELECT * FROM top_users ORDER BY score DESC;

2) –î–ª—è –æ–±—Ö–æ–¥–∞ –æ–≥—Ä–∞–Ω–∏—á–µ–Ω–∏–π –Ω–∞ –ø–æ–¥–∑–∞–ø—Ä–æ—Å—ã (–Ω–∞–ø—Ä–∏–º–µ—Ä, –≤ UPDATE –∏ DELETE).
WITH RECURSIVE category_tree AS (
    -- –ë–∞–∑–æ–≤—ã–π —Å–ª—É—á–∞–π (–≤–µ—Ä—Ö–Ω–∏–π —É—Ä–æ–≤–µ–Ω—å –∫–∞—Ç–∞–ª–æ–≥–∞)
    SELECT id, parent_id, name
    FROM categories
    WHERE parent_id IS NULL
    UNION ALL
    -- –†–µ–∫—É—Ä—Å–∏–≤–Ω–æ–µ —Å–æ–µ–¥–∏–Ω–µ–Ω–∏–µ —Å —Å–∞–º–∏–º —Å–æ–±–æ–π
    SELECT c.id, c.parent_id, c.name
    FROM categories c
    JOIN category_tree ct ON c.parent_id = ct.id
)
SELECT * FROM category_tree;




–û–±–Ω–æ–≤–∏–º —Ü–µ–Ω—ã —Ç–æ–≤–∞—Ä–æ–≤, –∫–æ—Ç–æ—Ä—ã–µ –≤—Ö–æ–¥—è—Ç –≤ –ø–æ–ø—É–ª—è—Ä–Ω—ã–µ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ (id > 10)

sql
Copy
Edit
WITH popular_products AS (
    SELECT id, price * 1.1 AS new_price
    FROM products
    WHERE category_id > 10
)
UPDATE products 
SET price = popular_products.new_price
FROM popular_products
WHERE products.id = popular_products.id;


 –£–¥–∞–ª–∏–º –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –Ω–µ –∑–∞—Ö–æ–¥–∏–ª–∏ –±–æ–ª—å—à–µ –≥–æ–¥–∞

sql
Copy
Edit
WITH inactive_users AS (
    SELECT id FROM users WHERE last_login < NOW() - INTERVAL '1 year'
)
DELETE FROM users 
USING inactive_users 
WHERE users.id = inactive_users.id;

In [ ]:
DROP ‚Äì –ø–æ–ª–Ω–æ—Å—Ç—å—é —É–¥–∞–ª—è–µ—Ç —Ç–∞–±–ª–∏—Ü—É, –≤–∫–ª—é—á–∞—è –µ—ë —Å—Ç—Ä—É–∫—Ç—É—Ä—É. ROLLBACK –ù–ï –†–ê–ë–û–¢–ê–ï–¢
TRUNCATE ‚Äì –±—ã—Å—Ç—Ä–æ –æ—á–∏—â–∞–µ—Ç –≤—Å–µ —Å—Ç—Ä–æ–∫–∏ —Ç–∞–±–ª–∏—Ü—ã, –Ω–æ –Ω–µ —É–¥–∞–ª—è–µ—Ç —Å–∞–º—É —Ç–∞–±–ª–∏—Ü—É, –∏–Ω–¥–µ–∫—Å—ã. ROLLBACK —Ä–∞–±–æ—Ç–∞–µ—Ç
DELETE ‚Äì —É–¥–∞–ª—è–µ—Ç —Å—Ç—Ä–æ–∫–∏ –ø–æ —É—Å–ª–æ–≤–∏—é (WHERE) –∏–ª–∏ –≤—Å–µ —Å—Ç—Ä–æ–∫–∏, –Ω–æ –º–µ–¥–ª–µ–Ω–Ω–µ–µ TRUNCATE. ROLLBACK —Ä–∞–±–æ—Ç–∞–µ—Ç

In [ ]:
MVCC (Multiversion Concurrency Control) –≤ PostgreSQL
–ö–∞–∫ —ç—Ç–æ —Ä–∞–±–æ—Ç–∞–µ—Ç?

–ö–∞–∂–¥–∞—è –∑–∞–ø–∏—Å—å –∏–º–µ–µ—Ç –¥–≤–µ –º–µ—Ç–∫–∏ –≤—Ä–µ–º–µ–Ω–∏ (xmin –∏ xmax).
–ü—Ä–∏ UPDATE –Ω–æ–≤–∞—è –≤–µ—Ä—Å–∏—è —Å—Ç—Ä–æ–∫–∏ —Å–æ–∑–¥–∞—ë—Ç—Å—è, –∞ —Å—Ç–∞—Ä–∞—è –æ—Å—Ç–∞—ë—Ç—Å—è –≤ —Ç–∞–±–ª–∏—Ü–µ (–Ω–æ "–Ω–µ–≤–∏–¥–∏–º–∞" –¥–ª—è –Ω–æ–≤—ã—Ö —Ç—Ä–∞–Ω–∑–∞–∫—Ü–∏–π).
DELETE –Ω–µ —É–¥–∞–ª—è–µ—Ç —Å—Ç—Ä–æ–∫–∏ —Å—Ä–∞–∑—É, –∞ –ø—Ä–æ—Å—Ç–æ –ø–æ–º–µ—á–∞–µ—Ç –∏—Ö "–Ω–µ–≤–∏–¥–∏–º—ã–º–∏" (xmax)

In [ ]:
–ö–∞–∫ —Ä–∞–±–æ—Ç–∞–µ—Ç VACUUM –≤ PostgreSQL

Postgresql - –ø—Ä–∏ –æ–ø–µ—Ä–∞—Ü–∏—è—Ö UPDATE, DELETE –Ω–µ –ø—Ä–æ–∏—Å—Ö–æ–¥–∏—Ç —Ñ–∏–∑–∏—á–µ—Å–∫–æ–≥–æ —É–¥–∞–ª–µ–Ω–∏—è –º–µ—Å—Ç–∞ –≤ —Ç–∞–±–ª–∏—Ü–µ.
–∫–æ–º–∞–Ω–¥–∞: 
    VACUUM table - –ø–æ–º–µ—á–∞–µ—Ç —ç—Ç–∏ "–º—É—Å–æ—Ä–Ω—ã–µ" —Å—Ç—Ä–æ–∫–∏ –∫ –ø–µ—Ä–µ–∑–∞–ø–∏—Å—ã–≤–∞–Ω–∏—é. –¢–∞–±–ª–∏—Ü–∞ –Ω–µ –±–ª–æ–∫–∏—Ä—É–µ—Ç—Å—è
    VACUUM FULL table - –ø—Ä–æ–∏—Å—Ö–æ–¥–∏—Ç –ø–µ—Ä–µ—Å–æ–∑–¥–∞–Ω–∏–µ —Ç–∞–±–ª–∏—Ü—ã, —Ç–æ –µ—Å—Ç—å –æ–Ω–∞ –±–ª–æ–∫–∏—Ä—É–µ—Ç—Å—è (—á—Ç–µ–Ω–∏–µ, –∑–∞–ø–∏—Å—å), –ø–æ—è–≤–ª—è–µ—Ç—Å—è –µ–µ –¥—É–±–ª—å —Å–æ—Ä–∞–∑–º–µ—Ä–Ω—ã–µ–π –µ–µ –æ–±—ä–µ–º—É.
    VACUUM ANALYZER - —ç—Ç–æ –ø–æ–∑–≤–æ–ª—è–µ—Ç –ø–æ–º–µ—Ç–∏—Ç—å —Å—Ç—Ä–æ–∫–∏ –∏ –ø–µ—Ä–µ–ø–∏—Å–∞—Ç—å –ø–ª–∞–Ω –≤—ã–ø–æ–ª–Ω–µ–Ω–∏—è –∑–∞–ø—Ä–æ—Å–∞ SQL

In [ ]:
üîπ –ß–µ–º GROUP BY –æ—Ç–ª–∏—á–∞–µ—Ç—Å—è –æ—Ç PARTITION BY?

 GROUP BY - —ç—Ç–æ –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∞ –∞–≥—Ä–µ–≥–∏—Ä–æ–≤–∞–Ω–Ω—ã—Ö –¥–∞–Ω–Ω—ã—Ö (sum, count)

SELECT department, COUNT(*) 
FROM employees 
GROUP BY department;

 PARTITION BY - —ç—Ç–æ —Ä–∞–∑–±–∏–≤–∫–∞ –¥–∞–Ω–Ω—ã—Ö –≤–Ω—É—Ç—Ä–∏ –æ–∫–æ–Ω–Ω—ã—Ö —Ñ—É–Ω–∫—Ü–∏–π

SELECT 
    department, 
    employee_name, 
    COUNT(*) OVER (PARTITION BY department) AS total_employees
FROM employees;

In [ ]:
–ö–∞–∫ —Ä–∞–±–æ—Ç–∞–µ—Ç —Ç—Ä–∞–Ω–∑–∞–∫—Ü–∏—è –≤ PostgreSQL? –ö–∞–∫–∏–µ —É—Ä–æ–≤–Ω–∏ –∏–∑–æ–ª—è—Ü–∏–∏ —Ç—Ä–∞–Ω–∑–∞–∫—Ü–∏–π —Å—É—â–µ—Å—Ç–≤—É—é—Ç?

–¢—Ä–∞–Ω–∑–∞–∫—Ü–∏—è - —ç—Ç–æ –µ–¥–∏–Ω—ã–π –∑–∞–ø—Ä–æ—Å –¥–ª—è –≤—ã–ø–æ–ª–Ω–µ–Ω–∏—è –æ–ø–µ—Ä–∞—Ü–∏–∏
—Å–≤–æ–π—Å—Ç–≤–∞ ACID
–ê—Ç–æ–º–∞—Ä–Ω–æ—Å—Ç—å
–¶–µ–ª–æ—Å—Ç–Ω–æ—Å—Ç—å
–ò–∑–æ–ª—è—Ü–∏—è
–ù–∞–¥–µ–∂–Ω–æ—Å—Ç—å

BEGIN;
UPDATE accounts SET balance = balance - 100 WHERE id = 1;
UPDATE accounts SET balance = balance + 100 WHERE id = 2;
COMMIT;

–¢–° –º–æ–∂–Ω–æ –æ—Ç–∫–∞—Ç–∏—Ç—å

BEGIN;
UPDATE accounts SET balance = balance - 100 WHERE id = 1;
ROLLBACK; -- –û—Ç–º–µ–Ω–∞ –∏–∑–º–µ–Ω–µ–Ω–∏–π


–£—Ä–æ–≤–Ω–∏ —Ç—Ä–∞–Ω–∑–∞–∫—Ü–∏–π
READ COMMITTED (–ø–æ —É–º–æ–ª—á–∞–Ω–∏—é –≤ PostgreSQL) - –ö–∞–∂–¥—ã–π –Ω–æ–≤—ã–π SELECT –≤–∏–¥–∏—Ç –∞–∫—Ç—É–∞–ª—å–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ. 
REPEATABLE READ ‚Äî ¬´–∑–∞–º–æ—Ä–∞–∂–∏–≤–∞–µ—Ç¬ª –¥–∞–Ω–Ω—ã–µ. –î–∞–∂–µ –µ—Å–ª–∏ –∫—Ç–æ-—Ç–æ –≤ –¥—Ä—É–≥–æ–π —Ç—Ä–∞–Ω–∑–∞–∫—Ü–∏–∏ –≤–Ω—ë—Å –∏–∑–º–µ–Ω–µ–Ω–∏—è –∏ —Å–¥–µ–ª–∞–ª COMMIT, –º—ã —ç—Ç–æ–≥–æ –Ω–µ —É–≤–∏–¥–∏–º, –ø–æ–∫–∞ –Ω–µ –∑–∞–∫–æ–Ω—á–∏–º —Å–≤–æ—é —Ç—Ä–∞–Ω–∑–∞–∫—Ü–∏—é.
SERIALIZABLE ‚Äî —Å–∞–º—ã–π —Å—Ç—Ä–æ–≥–∏–π —É—Ä–æ–≤–µ–Ω—å. –ò–º–∏—Ç–∞—Ü–∏—è –ø–æ—Å–ª–µ–¥–æ–≤–∞—Ç–µ–ª—å–Ω–æ–≥–æ –≤—ã–ø–æ–ª–Ω–µ–Ω–∏—è —Ç—Ä–∞–Ω–∑–∞–∫—Ü–∏–π (–±—É–¥—Ç–æ –æ–Ω–∏ –≤—ã–ø–æ–ª–Ω—è–ª–∏—Å—å –æ–¥–Ω–∞ –∑–∞ –¥—Ä—É–≥–æ–π). –ï—Å–ª–∏ –≤–æ–∑–º–æ–∂–µ–Ω –∫–æ–Ω—Ñ–ª–∏–∫—Ç ‚Üí –æ–¥–Ω–∞ –∏–∑ —Ç—Ä–∞–Ω–∑–∞–∫—Ü–∏–π –æ—Ç–º–µ–Ω—è–µ—Ç—Å—è (ROLLBACK).

READ COMMITTED
–ö–æ–≥–¥–∞ –ø—Ä–∏–º–µ–Ω—è—Ç—å?
‚úÖ –ö–æ–≥–¥–∞ –≤–∞–∂–Ω–∞ –∞–∫—Ç—É–∞–ª—å–Ω–æ—Å—Ç—å –¥–∞–Ω–Ω—ã—Ö, –Ω–æ –Ω–µ –∫—Ä–∏—Ç–∏—á–Ω–æ, —á—Ç–æ —Ä–µ–∑—É–ª—å—Ç–∞—Ç—ã –º–æ–≥—É—Ç –Ω–µ–º–Ω–æ–≥–æ –æ—Ç–ª–∏—á–∞—Ç—å—Å—è –≤ —Ç–µ—á–µ–Ω–∏–µ —Ç—Ä–∞–Ω–∑–∞–∫—Ü–∏–∏.

REPEATABLE READ
–ö–æ–≥–¥–∞ –ø—Ä–∏–º–µ–Ω—è—Ç—å?
‚úÖ –ö–æ–≥–¥–∞ –≤–∞–∂–Ω–æ, —á—Ç–æ–±—ã –¥–∞–Ω–Ω—ã–µ –Ω–µ –º–µ–Ω—è–ª–∏—Å—å –≤ —Ç–µ—á–µ–Ω–∏–µ —Ç—Ä–∞–Ω–∑–∞–∫—Ü–∏–∏, –Ω–∞–ø—Ä–∏–º–µ—Ä, –ø—Ä–∏ –≥–µ–Ω–µ—Ä–∞—Ü–∏–∏ –æ—Ç—á—ë—Ç–æ–≤ –∏–ª–∏ —Ä–∞—Å—á—ë—Ç–µ —Å—Ä–µ–¥–Ω–µ–≥–æ —á–µ–∫–∞.

SERIALIZABLE
–ö–æ–≥–¥–∞ –ø—Ä–∏–º–µ–Ω—è—Ç—å?
‚úÖ –ö–æ–≥–¥–∞ –Ω—É–∂–Ω–∞ 100% –∑–∞—â–∏—Ç–∞ –æ—Ç –∫–æ–Ω—Ñ–ª–∏–∫—Ç–æ–≤, –Ω–∞–ø—Ä–∏–º–µ—Ä, –ø—Ä–∏ —Ñ–∏–Ω–∞–Ω—Å–æ–≤—ã—Ö –æ–ø–µ—Ä–∞—Ü–∏—è—Ö.
‚ö† –ú–∏–Ω—É—Å: –º–æ–∂–µ—Ç –ø—Ä–∏–≤–æ–¥–∏—Ç—å –∫ —á–∞—Å—Ç—ã–º ROLLBACK, –µ—Å–ª–∏ –º–Ω–æ–≥–æ –ø–∞—Ä–∞–ª–ª–µ–ª—å–Ω—ã—Ö –æ–ø–µ—Ä–∞—Ü–∏–π.

In [ ]:
READ COMMITTED 
-- –¢—Ä–∞–Ω–∑–∞–∫—Ü–∏—è 1
BEGIN;
UPDATE users SET balance = balance - 500 WHERE id = 1;
-- –ü–æ–∫–∞ –Ω–µ—Ç COMMIT, –¥—Ä—É–≥–∏–µ —Ç—Ä–∞–Ω–∑–∞–∫—Ü–∏–∏ –Ω–µ –≤–∏–¥—è—Ç –∏–∑–º–µ–Ω–µ–Ω–∏—è

-- –¢—Ä–∞–Ω–∑–∞–∫—Ü–∏—è 2
BEGIN;
SELECT balance FROM users WHERE id = 1; -- –í–∏–¥–∏—Ç —Å—Ç–∞—Ä—ã–µ –¥–∞–Ω–Ω—ã–µ, –ø–æ–∫–∞ –Ω–µ –±—É–¥–µ—Ç COMMIT –≤ –¢—Ä–∞–Ω–∑–∞–∫—Ü–∏–∏ 1
COMMIT;

REPEATABLE READ
-- –¢—Ä–∞–Ω–∑–∞–∫—Ü–∏—è 1
BEGIN TRANSACTION ISOLATION LEVEL REPEATABLE READ;
SELECT SUM(balance) FROM users; -- 10000

-- –¢—Ä–∞–Ω–∑–∞–∫—Ü–∏—è 2 (–≤–Ω–æ—Å–∏—Ç –∏–∑–º–µ–Ω–µ–Ω–∏—è –∏ —Ñ–∏–∫—Å–∏—Ä—É–µ—Ç –∏—Ö)
BEGIN;
UPDATE users SET balance = balance - 500 WHERE id = 1;
COMMIT;

-- –¢—Ä–∞–Ω–∑–∞–∫—Ü–∏—è 1 —Å–Ω–æ–≤–∞ –¥–µ–ª–∞–µ—Ç SELECT (–≤–∏–¥–∏—Ç —Å—Ç–∞—Ä—ã–µ –¥–∞–Ω–Ω—ã–µ!)
SELECT SUM(balance) FROM users; -- –í—Å—ë –µ—â—ë 10000
COMMIT;

SERIALIZABLE
-- –¢—Ä–∞–Ω–∑–∞–∫—Ü–∏—è 1
BEGIN TRANSACTION ISOLATION LEVEL SERIALIZABLE;
SELECT balance FROM users WHERE id = 1; -- 5000

-- –¢—Ä–∞–Ω–∑–∞–∫—Ü–∏—è 2 –∏–∑–º–µ–Ω—è–µ—Ç —Ç–æ –∂–µ –∑–Ω–∞—á–µ–Ω–∏–µ
BEGIN TRANSACTION ISOLATION LEVEL SERIALIZABLE;
UPDATE users SET balance = balance - 100 WHERE id = 1;
COMMIT;

-- –¢—Ä–∞–Ω–∑–∞–∫—Ü–∏—è 1 –ø—ã—Ç–∞–µ—Ç—Å—è –æ–±–Ω–æ–≤–∏—Ç—å, –Ω–æ –ø–æ–ª—É—á–∏—Ç –æ—à–∏–±–∫—É
UPDATE users SET balance = balance - 200 WHERE id = 1;
COMMIT; -- ‚ùå –û—à–∏–±–∫–∞: —Ç—Ä–∞–Ω–∑–∞–∫—Ü–∏—è –∫–æ–Ω—Ñ–ª–∏–∫—Ç—É–µ—Ç!

In [ ]:
–ß—Ç–æ —Ç–∞–∫–æ–µ NULL –∏ –∫–∞–∫ —Å –Ω–∏–º —Ä–∞–±–æ—Ç–∞—Ç—å –≤ ORDER BY, GROUP BY, JOIN

NULL - –≤ –ø–æ—Å—Ç–≥—Ä–µ—Å —ç—Ç–æ –æ—Ç–¥–µ–ª—å–Ω—ã–π —Ç–∏–ø –¥–∞–Ω–Ω—ã—Ö, –ø–æ—ç—Ç–æ–º—É –µ–≥–æ –º–æ–∂–Ω–æ –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∞—Ç—å

ORDER BY - ASC - NULL –≤–≤–µ—Ä—Ö—É, DESC - NULL –≤–Ω–∏–∑—É
GROUP BY - –ø—Ä–∏ –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–µ –ø–æ–∫–∞–∂–µ—Ç –∫–æ–ª-–≤–æ NULL –≤ —Ç–∞–±–ª
JOIN - –Ω–µ –æ–±—ä–µ–¥–∏–Ω—è–µ—Ç –∏—Ö. –Ω–æ –º–æ–∂–Ω–æ –¥–µ–ª–∞—Ç—å –æ—Ç–±–æ—Ä 
where s in NULL
where s is not null

In [ ]:
–ù–∞–ø–∏—à–∏—Ç–µ SQL-–∑–∞–ø—Ä–æ—Å, –∫–æ—Ç–æ—Ä—ã–π –≤–µ—Ä–Ω–µ—Ç:
–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –∑–∞–∫–∞–∑–æ–≤ (count(user_id), sum(amount)) –∏ —Å—É–º–º–∞—Ä–Ω—É—é —Å—É–º–º—É –∑–∞–∫–∞–∑–æ–≤ –¥–ª—è –∫–∞–∂–¥–æ–≥–æ user_id,
–¢–æ–ª—å–∫–æ –¥–ª—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, —É –∫–æ—Ç–æ—Ä—ã—Ö —Å—É–º–º–∞ –≤—Å–µ—Ö –∑–∞–∫–∞–∑–æ–≤ –±–æ–ª—å—à–µ 500.

In [ ]:
CREATE TABLE orders (
    id SERIAL PRIMARY KEY,
    user_id INT,
    order_date DATE,
    amount DECIMAL
);

INSERT INTO orders (user_id, order_date, amount) VALUES
(1, '2024-03-01', 200),
(1, '2024-03-02', 100),
(1, '2024-03-05', 300),
(2, '2024-03-01', 150),
(2, '2024-03-02', 100),
(3, '2024-03-01', 600),
(3, '2024-03-02', 50);

select
user_id,
count(*),
sum(amount)
from orders
group by user_id
having sum(amount) > 500;

In [ ]:
CREATE TABLE users (
    id SERIAL PRIMARY KEY,
    name TEXT
);

CREATE TABLE orders (
    id SERIAL PRIMARY KEY,
    user_id INT REFERENCES users(id),
    order_date DATE,
    amount DECIMAL
);

INSERT INTO users (id, name) VALUES
(1, 'Alice'),
(2, 'Bob'),
(3, 'Charlie'),
(4, 'David'); -- David –Ω–µ —Å–¥–µ–ª–∞–ª –∑–∞–∫–∞–∑–æ–≤

INSERT INTO orders (user_id, order_date, amount) VALUES
(1, '2024-03-01', 200),
(2, '2024-03-02', 150),
(3, '2024-03-03', 300);

/* –ù–∞–π—Ç–∏ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –±–µ–∑ –∑–∞–∫–∞–∑–æ–≤ */

select 
u.name,
count(amount) as cnt_ord
from users u
left join orders o on o.user_id = u.id
where o.id is null
group by u.name
;

In [ ]:
CREATE TABLE users (
    id SERIAL PRIMARY KEY,
    name TEXT
);

CREATE TABLE orders (
    id SERIAL PRIMARY KEY,
    user_id INT REFERENCES users(id),
    order_date DATE,
    amount DECIMAL
);

INSERT INTO users (name) VALUES 
('Alice'),
('Bob'),
('Charlie');

INSERT INTO orders (user_id, order_date, amount) VALUES 
(1, '2024-03-01', 100),  
(1, '2024-03-05', 250),  
(2, '2024-03-10', 50),  
(2, '2024-03-12', 300),  
(3, '2024-03-15', 100);  


/* –ù–∞–π—Ç–∏ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, —É –∫–æ—Ç–æ—Ä—ã—Ö —Å—Ä–µ–¥–Ω—è—è —Å—É–º–º–∞ –∑–∞–∫–∞–∑–æ–≤ –±–æ–ª—å—à–µ 150*/

select user_id,
round(avg(amount),0) as avg_o
from
orders
group by user_id
having avg(amount) > 150;


/* –ó–∞–¥–∞—á–∞ 2: –ù–∞–π—Ç–∏ –∑–∞–∫–∞–∑—ã, –∫–æ—Ç–æ—Ä—ã–µ –¥–æ—Ä–æ–∂–µ —Å—Ä–µ–¥–Ω–µ–≥–æ —á–µ–∫–∞ –≤—Å–µ—Ö –∑–∞–∫–∞–∑–æ–≤
*/
-- –Ω–∞—Ö–æ–¥–∏–º —Å—Ä–µ–¥–Ω–∏–π —á–µ–∫
with cte as (
select 
round(avg(amount), 0) as avg_o
from orders
  )
-- —Å—Ä–∞–≤–Ω–∏–≤–∞–µ–º —Å–æ –≤—Å–µ–º–∏  
  select * 
  from orders
  cross join cte
  where amount > avg_o

In [ ]:
/*  –ù–∞–π—Ç–∏ –≤—Å–µ—Ö –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –∏ –∏—Ö —Å—É–º–º—É –∑–∞–∫–∞–∑–æ–≤, –≤–∫–ª—é—á–∞—è —Ç–µ—Ö, —É –∫–æ–≥–æ –∑–∞–∫–∞–∑–æ–≤ –Ω–µ—Ç
*/


select 
    u.id,
    u.name,
    sum(amount) as s_buy
from users u
    left join orders o
on o.user_id = u.id
group by u.id,
        u.name

In [ ]:
/*  –ó–∞–¥–∞—á–∞ 4: –ù–∞–π—Ç–∏ –∫–ª–∏–µ–Ω—Ç–æ–≤, –∫–æ—Ç–æ—Ä—ã–µ –¥–µ–ª–∞–ª–∏ –∑–∞–∫–∞–∑—ã –≤ —Ä–∞–∑–Ω—ã–µ –¥–Ω–∏ */

SELECT user_id, 
       COUNT(DISTINCT order_date) AS unique_days
FROM orders
GROUP BY user_id
HAVING COUNT(DISTINCT order_date) > 1;

In [ ]:
 –í—ã–≤–µ—Å—Ç–∏ –≤—Å–µ—Ö –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –∏ –∏—Ö –∑–∞–∫–∞–∑—ã, –Ω–æ –µ—Å–ª–∏ –∑–∞–∫–∞–∑–æ–≤ –Ω–µ—Ç ‚Äî —É–∫–∞–∑–∞—Ç—å 
"–ù–µ—Ç –∑–∞–∫–∞–∑–æ–≤"


select 
u.name,
coalesce (o.amount::TEXT, "–ù–µ—Ç –∑–∞–∫–∞–∑–æ–≤")
    cast
as cnt
 from users left join orders ON u.id = o.user_id;

In [ ]:
/* –í—ã–≤–µ—Å—Ç–∏ –≤—Å–µ—Ö –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –∏ –∏—Ö –∑–∞–∫–∞–∑—ã, –Ω–æ –µ—Å–ª–∏ –∑–∞–∫–∞–∑–æ–≤ –Ω–µ—Ç ‚Äî —É–∫–∞–∑–∞—Ç—å '–ù–µ—Ç –∑–∞–∫–∞–∑–æ–≤'
*/


select 
u.name,
CASE 
	when o.amount is null THEN '–ù–µ—Ç –∑–∞–∫–∞–∑–æ–≤'
    else o.amount::TEXT
END as order_amount,
coalesce (o.amount::TEXT, '–ù–µ—Ç –∑–∞–∫–∞–∑–æ–≤') as cnt
from users u left join orders o 
 ON u.id = o.user_id;

In [ ]:

–ó–∞–¥–∞—á–∏ (–ø–æ WITH AS –∏ UNION | UNION ALL):
WITH AS
1Ô∏è‚É£ –ù–∞–π—Ç–∏ —Å—Ä–µ–¥–Ω—é—é —Å—É–º–º—É –∑–∞–∫–∞–∑–æ–≤ –ø–æ –∫–∞–∂–¥–æ–º—É –∫–ª–∏–µ–Ω—Ç—É –∏ –≤—ã–±—Ä–∞—Ç—å –∫–ª–∏–µ–Ω—Ç–æ–≤ —Å —Å—É–º–º–æ–π –ø–æ–∫—É–ø–æ–∫ –≤—ã—à–µ 500.



    SELECT
        o.customer_id,
        SUM(p.price * oi.quantity) AS total_buy
    FROM orders o
    JOIN order_items oi ON oi.order_id = o.id
    JOIN products p ON p.id = oi.product_id
    GROUP BY o.customer_id
  having SUM(p.price * oi.quantity) > 500;

*/


/*
–û–ø—Ä–µ–¥–µ–ª–∏—Ç—å –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–æ–¥–∞–Ω–Ω—ã—Ö —Ç–æ–≤–∞—Ä–æ–≤ –ø–æ –∫–∞—Ç–µ–≥–æ—Ä–∏—è–º –∏ –≤—ã–≤–µ—Å—Ç–∏ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏, –≥–¥–µ –ø—Ä–æ–¥–∞–Ω–æ –±–æ–ª–µ–µ 5 —Ç–æ–≤–∞—Ä–æ–≤.
*/

SELECT 
c.name,
sum(oi.quantity) as sum_sell
FROM orders o
    JOIN order_items oi ON oi.order_id = o.id
    JOIN products p ON p.id = oi.product_id
	JOIN categories c ON p.category_id = c.id
 group by  c.name
having sum(oi.quantity) > 5;



3 –ù–∞–π—Ç–∏ —Å–∞–º—É—é –¥–æ—Ä–æ–≥—É—é –ø–æ–∫—É–ø–∫—É –∫–∞–∂–¥–æ–≥–æ –∫–ª–∏–µ–Ω—Ç–∞.
WITH t AS (
    SELECT 
        o.customer_id,
        c.name,
        oi.order_id,
        SUM(oi.quantity * p.price) AS sum_buy_per_user
    FROM orders o
    JOIN order_items oi ON oi.order_id = o.id
    JOIN products p ON p.id = oi.product_id
    JOIN customers c ON o.customer_id = c.id
    GROUP BY o.customer_id, c.name, oi.order_id    
)
SELECT 
    customer_id,
    name,
    MAX(sum_buy_per_user) AS max_buy
FROM t
GROUP BY customer_id, name;

In [ ]:
UNION

1 –í—ã–≤–µ—Å—Ç–∏ —Å–ø–∏—Å–æ–∫ –≤—Å–µ—Ö –∫–ª–∏–µ–Ω—Ç–æ–≤ –∏ –≤—Å–µ—Ö –∫–∞—Ç–µ–≥–æ—Ä–∏–π —Ç–æ–≤–∞—Ä–æ–≤ –≤ –æ–¥–Ω–æ–º —Å–ø–∏—Å–∫–µ.
*/

SELECT
c.name as clients_and_cat,
'Clients' as type
FROM customers c
union all
SELECT
cat.name as clients_and_cat,
'Category' as type
FROM categories cat