In [ ]:
ÐŸÐ¾Ð´Ð³Ð¾Ñ‚Ð¾Ð²ÐºÐ° Ðº ÑÐ¾Ð±ÐµÑÐµÐ´Ð¾Ð²Ð°Ð½Ð¸ÑŽ

In [ ]:
join - ÑÑ‚Ð¾ Ñ‚Ð¸Ð¿ Ð¾Ð±ÑŠÐµÐ´Ð¸Ð½ÐµÐ½Ð¸Ñ Ñ‚Ð°Ð±Ð»Ð¸Ñ†
INNER JOIN - Ð±ÐµÑ€ÐµÑ‚ Ñ‚Ð¾Ð»ÑŒÐºÐ¾ Ñ‚Ðµ ÑÑ‚Ñ€Ð¾ÐºÐ¸, ÐºÐ¾Ñ‚Ð¾Ñ€Ñ‹Ðµ Ð¸Ð¼ÐµÑŽÑ‚ ÑÐ¾Ð²Ð¿Ð°Ð´ÐµÐ½Ð¸Ðµ Ð¿Ð¾ ÐºÐ»ÑŽÑ‡Ñƒ Ð² Ð¾Ð±ÐµÐ¸Ñ… Ñ‚Ð°Ð±Ð»Ð¸Ñ†Ð°Ñ….
Ð² ÑÐ»ÑƒÑ‡Ð°Ðµ ÑÐ¾Ð²Ð¿Ð°Ð´ÐµÐ½Ð¸Ð¹ Ð² Ð¾Ð±ÐµÐ¸Ñ… Ñ‚Ð°Ð±Ð»Ð¸Ñ†Ð°Ñ… - 
Ð‘ÑƒÐ´ÐµÑ‚ ÑÐ¾Ð·Ð´Ð°Ð²Ð°Ñ‚ÑŒÑÑ ÐºÐ¾Ð¼Ð±Ð¸Ð½Ð°Ñ†Ð¸Ñ ÑÑ‚Ñ€Ð¾Ðº Ð¸Ð· Ð¾Ð±ÐµÐ¸Ñ… Ñ‚Ð°Ð±Ð»Ð¸Ñ†.
Ð•ÑÐ»Ð¸ Ð² Ð¿Ñ€Ð°Ð²Ð¾Ð¹ Ñ‚Ð°Ð±Ð»Ð¸Ñ†Ðµ Ð½ÐµÑÐºÐ¾Ð»ÑŒÐºÐ¾ ÑÐ¾Ð²Ð¿Ð°Ð´ÐµÐ½Ð¸Ð¹ Ð´Ð»Ñ Ð¾Ð´Ð½Ð¾Ð¹ ÑÑ‚Ñ€Ð¾ÐºÐ¸ Ð»ÐµÐ²Ð¾Ð¹ Ñ‚Ð°Ð±Ð»Ð¸Ñ†Ñ‹, Ñ‚Ð¾ Ð»ÐµÐ²Ñ‹Ðµ ÑÑ‚Ñ€Ð¾ÐºÐ¸ Ñ€Ð°Ð·Ð¼Ð½Ð¾Ð¶Ð°ÑŽÑ‚ÑÑ.
Ð­Ñ‚Ð¾ Ð½Ðµ ÑÐ¾Ð²ÑÐµÐ¼ Ð´ÑƒÐ±Ð»ÑŒ, Ð° Ð´ÐµÐºÐ°Ñ€Ñ‚Ð¾Ð²Ð¾ Ð¿Ñ€Ð¾Ð¸Ð·Ð²ÐµÐ´ÐµÐ½Ð¸Ðµ ÑÐ¾Ð²Ð¿Ð°Ð´Ð°ÑŽÑ‰Ð¸Ñ… ÑÑ‚Ñ€Ð¾Ðº.

Ð”ÐµÐºÐ°Ñ€Ñ‚Ð¾Ð²Ð¾ Ð¿Ñ€Ð¾Ð¸Ð·Ð²ÐµÐ´ÐµÐ½Ð¸Ðµ (CROSS JOIN) â€” 
ÑÑ‚Ð¾ Ð¾Ð±ÑŠÐµÐ´Ð¸Ð½ÐµÐ½Ð¸Ðµ ÐºÐ°Ð¶Ð´Ð¾Ð¹ ÑÑ‚Ñ€Ð¾ÐºÐ¸ Ð¿ÐµÑ€Ð²Ð¾Ð¹ Ñ‚Ð°Ð±Ð»Ð¸Ñ†Ñ‹ Ñ ÐºÐ°Ð¶Ð´Ð¾Ð¹ ÑÑ‚Ñ€Ð¾ÐºÐ¾Ð¹ Ð²Ñ‚Ð¾Ñ€Ð¾Ð¹ Ñ‚Ð°Ð±Ð»Ð¸Ñ†Ñ‹.

    
LEFT JOIN - 
Ð•ÑÐ»Ð¸ Ð±ÐµÑ€ÐµÐ¼ Ð¿Ð¾Ð»Ðµ Ð¸Ð· Ð»ÐµÐ²Ð¾Ð¹ Ñ‚Ð°Ð±Ð»Ð¸Ñ†Ñ‹ 
â†’ Ð²ÑÐµ ÑÑ‚Ñ€Ð¾ÐºÐ¸ Ð»ÐµÐ²Ð¾Ð¹ Ñ‚Ð°Ð±Ð»Ð¸Ñ†Ñ‹ ÑÐ¾Ñ…Ñ€Ð°Ð½ÑÑŽÑ‚ÑÑ, NULL Ð½Ðµ Ð±ÑƒÐ´ÐµÑ‚.
Ð•ÑÐ»Ð¸ Ð±ÐµÑ€ÐµÐ¼ Ð¿Ð¾Ð»Ðµ Ð¸Ð· Ð¿Ñ€Ð°Ð²Ð¾Ð¹ Ñ‚Ð°Ð±Ð»Ð¸Ñ†Ñ‹ 
â†’ Ð¾Ñ‚Ð¾Ð±Ñ€Ð°Ð¶Ð°ÑŽÑ‚ÑÑ Ñ‚Ð¾Ð»ÑŒÐºÐ¾ ÑÐ¾Ð²Ð¿Ð°Ð²ÑˆÐ¸Ðµ Ð·Ð½Ð°Ñ‡ÐµÐ½Ð¸Ñ, 
Ð° ÑÑ‚Ñ€Ð¾ÐºÐ¸ Ð±ÐµÐ· ÑÐ¾Ð²Ð¿Ð°Ð´ÐµÐ½Ð¸Ð¹ Ð·Ð°Ð¼ÐµÐ½ÑÑŽÑ‚ÑÑ NULL.


RIGHT JOIN - Ð°Ð½Ð°Ð»Ð¾Ð³Ð¸Ñ‡Ð½Ð¾, ÐºÐ°Ðº Ð´Ð»Ñ left, Ð½Ð¾ Ð´Ð»Ñ Ð¿Ñ€Ð°Ð²Ð¾Ð¹ Ñ‚Ð°Ð±Ð»Ð¸Ñ†Ñ‹ 
FULL JOIN - Ð•ÑÐ»Ð¸ ÐµÑÑ‚ÑŒ ÑÐ¾Ð²Ð¿Ð°Ð´ÐµÐ½Ð¸Ðµ â€” ÑÑ‚Ñ€Ð¾ÐºÐ¸ ÑÐ¾ÐµÐ´Ð¸Ð½ÑÑŽÑ‚ÑÑ. 
Ð•ÑÐ»Ð¸ Ð² Ð¾Ð´Ð½Ð¾Ð¹ Ñ‚Ð°Ð±Ð»Ð¸Ñ†Ðµ ÑÑ‚Ñ€Ð¾ÐºÐ¸ Ð±ÐµÐ· Ð¿Ð°Ñ€Ñ‹, Ñ‚Ð¾ Ð² Ð´Ñ€ÑƒÐ³Ð¾Ð¹ Ð¿Ð¾Ð´ÑÑ‚Ð°Ð²Ð»ÑÐµÑ‚ÑÑ NULL.

In [ ]:
Ð§Ñ‚Ð¾ Ñ‚Ð°ÐºÐ¾Ðµ Ð¸Ð½Ð´ÐµÐºÑ, ÐºÐ°ÐºÐ¸Ðµ Ñ‚Ð¸Ð¿Ñ‹ Ð¸Ð½Ð´ÐµÐºÑÐ¾Ð² ÐµÑÑ‚ÑŒ Ð² PostgreSQL, ÐºÐ°Ðº Ð¾Ð½Ð¸ Ñ€Ð°Ð±Ð¾Ñ‚Ð°ÑŽÑ‚?
ÐšÐ»Ð°ÑÑ‚ÐµÑ€Ð½Ñ‹Ð¹ - 1 Ð½Ð° Ñ‚Ð°Ð±Ð»Ð¸Ñ†Ñƒ, ÑÐ¾Ð·Ð´Ð°ÐµÑ‚ÑÑ, Ñ‡Ñ‚Ð¾Ð±Ñ‹ Ð¾Ñ€Ð³Ð°Ð½Ð¸Ð·Ð¾Ð²Ð°Ñ‚ÑŒ Ð¿Ð¾Ñ€ÑÐ´Ð¾Ðº ÑÑ‚Ñ€Ð¾Ðº Ð¸ Ð¾Ð±Ð»ÐµÐ³Ñ‡Ð¸Ñ‚ÑŒ Ð²Ñ‹Ð±Ð¾Ñ€ÐºÑƒ. Ð·Ð½Ð°Ñ‡ÐµÐ½Ð¸Ñ Ð² Ð¿Ð¾Ð»ÑÑ… Ð´Ð¾Ð»Ð¶Ð½Ñ‹ Ð±Ñ‹Ñ‚ÑŒ ÑƒÐ½Ð¸ÐºÐ°Ð»ÑŒÐ½Ñ‹. Ð¼Ð¾Ð¶Ð½Ð¾ Ð½ÐµÑÐºÐ¾Ð»ÑŒÐºÐ¾ Ð¿Ð¾Ð»ÐµÐ¹. ÐŸÑ€Ð¸ ÑÐ¾Ð·Ð´Ð°Ð½Ð¸Ð¸ ÐºÐ»Ð°ÑÑ‚ÐµÑ€Ð½Ð¾Ð³Ð¾ Ð¸Ð½Ð´ÐµÐºÑÐ° ÑÐ¾Ð·Ð´Ð°ÐµÑ‚ÑÑ ÑÑ‚Ñ€ÑƒÐºÑ‚ÑƒÑ€Ð° Ð² Ð‘Ð”
Noncluster - Ð¼Ð¾Ð¶Ð½Ð¾ Ð½ÐµÑÐºÐ¾Ð»ÑŒÐºÐ¾ Ð¿Ð¾Ð»ÐµÐ¹, ÑÐ¾Ð·Ð´Ð°ÑŽÑ‰Ð¸Ñ… Ð¿Ð¾Ñ€ÑÐ´Ð¾Ðº ÑÑ‚Ñ€Ð¾Ðº, Ð´Ð»Ñ Ð¾Ð±Ð»ÐµÐ³Ñ‡ÐµÐ½Ð¸Ñ Ð²Ñ‹Ð±Ð¾Ñ€ÐºÐ¸. Ð½Ðµ Ð·Ð°Ð½Ð¸Ð¼Ð°ÐµÑ‚ Ð² Ð‘Ð” Ð¼ÐµÑÑ‚Ð¾
ÐŸÐ¾ÐºÑ€Ñ‹Ð²Ð½Ð¾Ð¹ Ð¸Ð½Ð´ÐµÐºÑ - ÑÑ‚Ð¾ Ð²Ñ‹Ð±Ð¾Ñ€ÐºÐ° Ð¿Ð¾Ð»ÐµÐ¹, ÐºÐ¾Ñ‚Ð¾Ñ€Ñ‹Ðµ Ñ‡Ð°ÑÑ‚Ð¾ Ð¸ÑÐ¿Ð¾Ð»ÑŒÐ·ÑƒÑŽÑ‚ÑÑ Ð² Ð·Ð°Ð¿Ñ€Ð¾ÑÐµ, Ñ‚Ð¾ ÐµÑÑ‚ÑŒ Ð¿Ð¾ÐºÑ€Ñ‹Ñ‚Ð¸Ðµ Ñ‚Ð°Ð±Ð»Ð¸Ñ†Ñ‹ ÑÑ‚Ñ€ÑƒÐºÑ‚ÑƒÑ€Ð¾Ð¹, Ð´Ð»Ñ ÑƒÑÐºÐ¾Ñ€ÐµÐ½Ð¸Ñ Ð²Ñ‹Ð²Ð¾Ð´Ð° Ð´Ð°Ð½Ð½Ñ‹Ñ…

In [1]:
Ð¿Ñ€Ð¾ Explain Ð¸ Explain Analyze Ñ…Ð¾Ñ€Ð¾ÑˆÐ¾ Ñ€Ð°ÑÑÐºÐ°Ð·Ð°Ð½Ð¾ Ñ‚ÑƒÑ‚ 
https://www.youtube.com/watch?v=bzCqU1gSsM0

SyntaxError: invalid syntax (3203103757.py, line 1)

In [2]:
Ð¿Ð¾Ð·Ð²Ð¾Ð»ÑÐµÑ‚ Ð¿Ð¾ÑÐ¼Ð¾Ñ‚Ñ€ÐµÑ‚ÑŒ ÑÑ…ÐµÐ¼Ñƒ Ð²Ñ‹Ð¿Ð¾Ð»Ð½ÐµÐ½Ð¸Ñ Ð·Ð°Ð¿Ñ€Ð¾ÑÐ°, Ð²Ñ€ÐµÐ¼Ñ Ð²Ñ‹Ð¿Ð¾Ð»Ð½ÐµÐ½Ð¸Ñ Ð¸ Ð¿Ñ€Ð¸Ð¼ÐµÐ½ÑÐµÑ‚ÑÑ Ð»Ð¸ Ð¸Ð½Ð´ÐµÐºÑ Ð¸Ð»Ð¸ Ð½ÐµÑ‚

Explore - Ð¿Ð¾ÐºÐ°Ð·Ñ‹Ð²Ð°ÐµÑ‚ ÐºÐ°Ðº Ð±Ñ‹ Ñ‚ÐµÐ¾Ñ€Ð¸ÑŽ, Ð²Ñ€ÐµÐ¼Ñ Ð²Ñ‹Ð¿Ð¾Ð»Ð½ÐµÐ½Ð¸Ñ Ð·Ð°Ð¿Ñ€Ð¾ÑÐ°, Ð° Explain Analyze Ð¿Ð¾ÐºÐ°Ð·Ñ‹Ð²Ð°ÐµÑ‚ Ñ€ÐµÐ°Ð»ÑŒÐ½Ð¾Ðµ Ð²Ñ‹Ð¿Ð¾Ð»Ð½ÐµÐ½Ð¸Ðµ

Ð´Ð»Ñ Ð¾Ð±Ñ‹Ñ‡Ð½Ñ‹Ñ… Ð·Ð°Ð¿Ñ€Ð¾ÑÐ¾Ð² Ð¾Ð±Ñ‹Ñ‡Ð½Ð¾ ÑÑ‚Ñ€Ð¾ÑÑ‚ btree Ð¸Ð½Ð´ÐµÐºÑ, Ð´Ð»Ñ Ð²ÑÑÐºÐ¸Ñ… Ð±Ð¾Ð»ÐµÐµ Ð³Ð¸Ð±ÐºÐ¸Ñ… Ð·Ð°Ð¿Ñ€Ð¾ÑÐ¾Ð², Ð²Ñ€Ð¾Ð´Ðµ Ð¸ÑÐ¿Ð¾Ð»ÑŒÐ·Ð¾Ð²Ð°Ð½Ð¸Ðµ like '%abc%' Ð¼Ð¾Ð¶Ð½Ð¾ Ð¸ÑÐ¿Ð¾Ð»ÑŒÐ·Ð¾Ð²Ð°Ñ‚ÑŒ gin Ð¸Ð½Ð´ÐµÐºÑ

Ð¿Ð¾Ð´ÐºÐ»ÑŽÑ‡ÐµÐ½Ð¸Ðµ gin Ð¸Ð½Ð´ÐµÐºÑÐ°:

Ð²Ð°Ð¶Ð½Ð¾ ÑƒÐµÑÑ‚ÑŒ, Ñ‡Ñ‚Ð¾ Ð¸Ð½Ð´ÐµÐºÑ Ð½Ðµ Ð¾Ð±ÑÑ…Ð°Ð½ Ð¸ÑÐ¿Ð¾Ð»ÑŒÐ·Ð¾Ð²Ð°Ñ‚ÑŒÑÑ
ÐµÑÐ»Ð¸ Ð²Ñ‹Ð±Ð¾Ñ€ÐºÐ° Ð±Ð¾Ð»ÑŒÑˆÐ°Ñ, ÑÐ¸ÑÑ‚ÐµÐ¼Ð° Ð¼Ð¾Ð¶ÐµÑ‚ Ñ€ÐµÑˆÐ¸Ñ‚ÑŒ, Ñ‡Ñ‚Ð¾ ÐµÐ¹ Ð²Ñ‹Ð³Ð¾Ð´Ð½ÐµÐµ Ð¸ÑÐ¿Ð¾Ð»ÑŒÐ·Ð¾Ð²Ð°Ñ‚ÑŒ Ð¿Ð¾ÑÑ‚Ñ€Ð¾Ñ‡Ð½Ñ‹Ð¹ Ð¿Ð¾Ð¸ÑÐº

SyntaxError: invalid syntax (169757806.py, line 1)

In [ ]:
CREATE EXTENSION pg_trgm

select * 
from perf_test
where reason like '%bc%'
;

create index trgm_idx_perf_reason on perf_test using gin (reason gin_trgm_ops)

In [ ]:
CTE - ÑÑ‚Ð¾ Ñommon table expression
Ð¿Ð¾Ð·Ð²Ð¾Ð»ÑÐµÑ‚ ÑÐ´ÐµÐ»Ð°Ñ‚ÑŒ Ñ€ÐµÐºÑƒÑ€ÑÐ¸Ð²Ð½Ñ‹Ð¹ Ð·Ð°Ð¿Ñ€Ð¾Ñ (
    with RECURSIVE as t ()
)

 Ð»Ð¸Ð±Ð¾ Ð²Ñ‹Ð²ÐµÑÑ‚Ð¸ Ð·Ð°Ð¿Ñ€Ð¾Ñ Ð½Ð°Ñ€ÑƒÐ¶Ñƒ, ÐµÑÐ»Ð¸ Ð¾Ð½ Ð½ÐµÑÐºÐ¾Ð»ÑŒÐºÐ¾ Ñ€Ð°Ð· Ð¸ÑÐ¿Ð¾Ð»ÑŒÐ·ÑƒÐµÑ‚ÑÑ Ð² Ð¾Ð±Ñ‰ÐµÐ¼ Ð·Ð°Ð¿Ñ€Ð¾ÑÐµ

CTE Ð¿Ð¾Ð»ÐµÐ·ÐµÐ½ Ð¿Ñ€Ð¸ 
1) ÐŸÐµÑ€ÐµÐ±Ð¾Ñ€Ðµ Ð·Ð½Ð°Ñ‡ÐµÐ½Ð¸Ð¹ Ð² ÐºÐ°Ñ‚Ð°Ð»Ð¾Ð³Ð°Ñ…, Ð¼Ð°Ñ€ÑˆÑ€ÑƒÑ‚Ð°Ñ…, Ð¸ÐµÑ€Ð°Ñ€Ñ…Ð¸Ð¸
WITH top_users AS (
    SELECT id, name, score 
    FROM users 
    WHERE score > 1000
)
SELECT * FROM top_users ORDER BY score DESC;

2) Ð”Ð»Ñ Ð¾Ð±Ñ…Ð¾Ð´Ð° Ð¾Ð³Ñ€Ð°Ð½Ð¸Ñ‡ÐµÐ½Ð¸Ð¹ Ð½Ð° Ð¿Ð¾Ð´Ð·Ð°Ð¿Ñ€Ð¾ÑÑ‹ (Ð½Ð°Ð¿Ñ€Ð¸Ð¼ÐµÑ€, Ð² UPDATE Ð¸ DELETE).
WITH RECURSIVE category_tree AS (
    -- Ð‘Ð°Ð·Ð¾Ð²Ñ‹Ð¹ ÑÐ»ÑƒÑ‡Ð°Ð¹ (Ð²ÐµÑ€Ñ…Ð½Ð¸Ð¹ ÑƒÑ€Ð¾Ð²ÐµÐ½ÑŒ ÐºÐ°Ñ‚Ð°Ð»Ð¾Ð³Ð°)
    SELECT id, parent_id, name
    FROM categories
    WHERE parent_id IS NULL
    UNION ALL
    -- Ð ÐµÐºÑƒÑ€ÑÐ¸Ð²Ð½Ð¾Ðµ ÑÐ¾ÐµÐ´Ð¸Ð½ÐµÐ½Ð¸Ðµ Ñ ÑÐ°Ð¼Ð¸Ð¼ ÑÐ¾Ð±Ð¾Ð¹
    SELECT c.id, c.parent_id, c.name
    FROM categories c
    JOIN category_tree ct ON c.parent_id = ct.id
)
SELECT * FROM category_tree;




ÐžÐ±Ð½Ð¾Ð²Ð¸Ð¼ Ñ†ÐµÐ½Ñ‹ Ñ‚Ð¾Ð²Ð°Ñ€Ð¾Ð², ÐºÐ¾Ñ‚Ð¾Ñ€Ñ‹Ðµ Ð²Ñ…Ð¾Ð´ÑÑ‚ Ð² Ð¿Ð¾Ð¿ÑƒÐ»ÑÑ€Ð½Ñ‹Ðµ ÐºÐ°Ñ‚ÐµÐ³Ð¾Ñ€Ð¸Ð¸ (id > 10)

sql
Copy
Edit
WITH popular_products AS (
    SELECT id, price * 1.1 AS new_price
    FROM products
    WHERE category_id > 10
)
UPDATE products 
SET price = popular_products.new_price
FROM popular_products
WHERE products.id = popular_products.id;


 Ð£Ð´Ð°Ð»Ð¸Ð¼ Ð¿Ð¾Ð»ÑŒÐ·Ð¾Ð²Ð°Ñ‚ÐµÐ»ÐµÐ¹, ÐºÐ¾Ñ‚Ð¾Ñ€Ñ‹Ðµ Ð½Ðµ Ð·Ð°Ñ…Ð¾Ð´Ð¸Ð»Ð¸ Ð±Ð¾Ð»ÑŒÑˆÐµ Ð³Ð¾Ð´Ð°

sql
Copy
Edit
WITH inactive_users AS (
    SELECT id FROM users WHERE last_login < NOW() - INTERVAL '1 year'
)
DELETE FROM users 
USING inactive_users 
WHERE users.id = inactive_users.id;

In [ ]:
DROP â€“ Ð¿Ð¾Ð»Ð½Ð¾ÑÑ‚ÑŒÑŽ ÑƒÐ´Ð°Ð»ÑÐµÑ‚ Ñ‚Ð°Ð±Ð»Ð¸Ñ†Ñƒ, Ð²ÐºÐ»ÑŽÑ‡Ð°Ñ ÐµÑ‘ ÑÑ‚Ñ€ÑƒÐºÑ‚ÑƒÑ€Ñƒ. ROLLBACK ÐÐ• Ð ÐÐ‘ÐžÐ¢ÐÐ•Ð¢
TRUNCATE â€“ Ð±Ñ‹ÑÑ‚Ñ€Ð¾ Ð¾Ñ‡Ð¸Ñ‰Ð°ÐµÑ‚ Ð²ÑÐµ ÑÑ‚Ñ€Ð¾ÐºÐ¸ Ñ‚Ð°Ð±Ð»Ð¸Ñ†Ñ‹, Ð½Ð¾ Ð½Ðµ ÑƒÐ´Ð°Ð»ÑÐµÑ‚ ÑÐ°Ð¼Ñƒ Ñ‚Ð°Ð±Ð»Ð¸Ñ†Ñƒ, Ð¸Ð½Ð´ÐµÐºÑÑ‹. ROLLBACK Ñ€Ð°Ð±Ð¾Ñ‚Ð°ÐµÑ‚
DELETE â€“ ÑƒÐ´Ð°Ð»ÑÐµÑ‚ ÑÑ‚Ñ€Ð¾ÐºÐ¸ Ð¿Ð¾ ÑƒÑÐ»Ð¾Ð²Ð¸ÑŽ (WHERE) Ð¸Ð»Ð¸ Ð²ÑÐµ ÑÑ‚Ñ€Ð¾ÐºÐ¸, Ð½Ð¾ Ð¼ÐµÐ´Ð»ÐµÐ½Ð½ÐµÐµ TRUNCATE. ROLLBACK Ñ€Ð°Ð±Ð¾Ñ‚Ð°ÐµÑ‚

In [ ]:
MVCC (Multiversion Concurrency Control) Ð² PostgreSQL
ÐšÐ°Ðº ÑÑ‚Ð¾ Ñ€Ð°Ð±Ð¾Ñ‚Ð°ÐµÑ‚?

ÐšÐ°Ð¶Ð´Ð°Ñ Ð·Ð°Ð¿Ð¸ÑÑŒ Ð¸Ð¼ÐµÐµÑ‚ Ð´Ð²Ðµ Ð¼ÐµÑ‚ÐºÐ¸ Ð²Ñ€ÐµÐ¼ÐµÐ½Ð¸ (xmin Ð¸ xmax).
ÐŸÑ€Ð¸ UPDATE Ð½Ð¾Ð²Ð°Ñ Ð²ÐµÑ€ÑÐ¸Ñ ÑÑ‚Ñ€Ð¾ÐºÐ¸ ÑÐ¾Ð·Ð´Ð°Ñ‘Ñ‚ÑÑ, Ð° ÑÑ‚Ð°Ñ€Ð°Ñ Ð¾ÑÑ‚Ð°Ñ‘Ñ‚ÑÑ Ð² Ñ‚Ð°Ð±Ð»Ð¸Ñ†Ðµ (Ð½Ð¾ "Ð½ÐµÐ²Ð¸Ð´Ð¸Ð¼Ð°" Ð´Ð»Ñ Ð½Ð¾Ð²Ñ‹Ñ… Ñ‚Ñ€Ð°Ð½Ð·Ð°ÐºÑ†Ð¸Ð¹).
DELETE Ð½Ðµ ÑƒÐ´Ð°Ð»ÑÐµÑ‚ ÑÑ‚Ñ€Ð¾ÐºÐ¸ ÑÑ€Ð°Ð·Ñƒ, Ð° Ð¿Ñ€Ð¾ÑÑ‚Ð¾ Ð¿Ð¾Ð¼ÐµÑ‡Ð°ÐµÑ‚ Ð¸Ñ… "Ð½ÐµÐ²Ð¸Ð´Ð¸Ð¼Ñ‹Ð¼Ð¸" (xmax)

In [ ]:
ÐšÐ°Ðº Ñ€Ð°Ð±Ð¾Ñ‚Ð°ÐµÑ‚ VACUUM Ð² PostgreSQL

Postgresql - Ð¿Ñ€Ð¸ Ð¾Ð¿ÐµÑ€Ð°Ñ†Ð¸ÑÑ… UPDATE, DELETE Ð½Ðµ Ð¿Ñ€Ð¾Ð¸ÑÑ…Ð¾Ð´Ð¸Ñ‚ Ñ„Ð¸Ð·Ð¸Ñ‡ÐµÑÐºÐ¾Ð³Ð¾ ÑƒÐ´Ð°Ð»ÐµÐ½Ð¸Ñ Ð¼ÐµÑÑ‚Ð° Ð² Ñ‚Ð°Ð±Ð»Ð¸Ñ†Ðµ.
ÐºÐ¾Ð¼Ð°Ð½Ð´Ð°: 
    VACUUM table - Ð¿Ð¾Ð¼ÐµÑ‡Ð°ÐµÑ‚ ÑÑ‚Ð¸ "Ð¼ÑƒÑÐ¾Ñ€Ð½Ñ‹Ðµ" ÑÑ‚Ñ€Ð¾ÐºÐ¸ Ðº Ð¿ÐµÑ€ÐµÐ·Ð°Ð¿Ð¸ÑÑ‹Ð²Ð°Ð½Ð¸ÑŽ. Ð¢Ð°Ð±Ð»Ð¸Ñ†Ð° Ð½Ðµ Ð±Ð»Ð¾ÐºÐ¸Ñ€ÑƒÐµÑ‚ÑÑ
    VACUUM FULL table - Ð¿Ñ€Ð¾Ð¸ÑÑ…Ð¾Ð´Ð¸Ñ‚ Ð¿ÐµÑ€ÐµÑÐ¾Ð·Ð´Ð°Ð½Ð¸Ðµ Ñ‚Ð°Ð±Ð»Ð¸Ñ†Ñ‹, Ñ‚Ð¾ ÐµÑÑ‚ÑŒ Ð¾Ð½Ð° Ð±Ð»Ð¾ÐºÐ¸Ñ€ÑƒÐµÑ‚ÑÑ (Ñ‡Ñ‚ÐµÐ½Ð¸Ðµ, Ð·Ð°Ð¿Ð¸ÑÑŒ), Ð¿Ð¾ÑÐ²Ð»ÑÐµÑ‚ÑÑ ÐµÐµ Ð´ÑƒÐ±Ð»ÑŒ ÑÐ¾Ñ€Ð°Ð·Ð¼ÐµÑ€Ð½Ñ‹ÐµÐ¹ ÐµÐµ Ð¾Ð±ÑŠÐµÐ¼Ñƒ.
    VACUUM ANALYZER - ÑÑ‚Ð¾ Ð¿Ð¾Ð·Ð²Ð¾Ð»ÑÐµÑ‚ Ð¿Ð¾Ð¼ÐµÑ‚Ð¸Ñ‚ÑŒ ÑÑ‚Ñ€Ð¾ÐºÐ¸ Ð¸ Ð¿ÐµÑ€ÐµÐ¿Ð¸ÑÐ°Ñ‚ÑŒ Ð¿Ð»Ð°Ð½ Ð²Ñ‹Ð¿Ð¾Ð»Ð½ÐµÐ½Ð¸Ñ Ð·Ð°Ð¿Ñ€Ð¾ÑÐ° SQL

In [ ]:
ðŸ”¹ Ð§ÐµÐ¼ GROUP BY Ð¾Ñ‚Ð»Ð¸Ñ‡Ð°ÐµÑ‚ÑÑ Ð¾Ñ‚ PARTITION BY?

 GROUP BY - ÑÑ‚Ð¾ Ð³Ñ€ÑƒÐ¿Ð¿Ð¸Ñ€Ð¾Ð²ÐºÐ° Ð°Ð³Ñ€ÐµÐ³Ð¸Ñ€Ð¾Ð²Ð°Ð½Ð½Ñ‹Ñ… Ð´Ð°Ð½Ð½Ñ‹Ñ… (sum, count)

SELECT department, COUNT(*) 
FROM employees 
GROUP BY department;

 PARTITION BY - ÑÑ‚Ð¾ Ñ€Ð°Ð·Ð±Ð¸Ð²ÐºÐ° Ð´Ð°Ð½Ð½Ñ‹Ñ… Ð²Ð½ÑƒÑ‚Ñ€Ð¸ Ð¾ÐºÐ¾Ð½Ð½Ñ‹Ñ… Ñ„ÑƒÐ½ÐºÑ†Ð¸Ð¹

SELECT 
    department, 
    employee_name, 
    COUNT(*) OVER (PARTITION BY department) AS total_employees
FROM employees;

In [ ]:
ÐšÐ°Ðº Ñ€Ð°Ð±Ð¾Ñ‚Ð°ÐµÑ‚ Ñ‚Ñ€Ð°Ð½Ð·Ð°ÐºÑ†Ð¸Ñ Ð² PostgreSQL? ÐšÐ°ÐºÐ¸Ðµ ÑƒÑ€Ð¾Ð²Ð½Ð¸ Ð¸Ð·Ð¾Ð»ÑÑ†Ð¸Ð¸ Ñ‚Ñ€Ð°Ð½Ð·Ð°ÐºÑ†Ð¸Ð¹ ÑÑƒÑ‰ÐµÑÑ‚Ð²ÑƒÑŽÑ‚?

Ð¢Ñ€Ð°Ð½Ð·Ð°ÐºÑ†Ð¸Ñ - ÑÑ‚Ð¾ ÐµÐ´Ð¸Ð½Ñ‹Ð¹ Ð·Ð°Ð¿Ñ€Ð¾Ñ Ð´Ð»Ñ Ð²Ñ‹Ð¿Ð¾Ð»Ð½ÐµÐ½Ð¸Ñ Ð¾Ð¿ÐµÑ€Ð°Ñ†Ð¸Ð¸
ÑÐ²Ð¾Ð¹ÑÑ‚Ð²Ð° ACID
ÐÑ‚Ð¾Ð¼Ð°Ñ€Ð½Ð¾ÑÑ‚ÑŒ
Ð¦ÐµÐ»Ð¾ÑÑ‚Ð½Ð¾ÑÑ‚ÑŒ
Ð˜Ð·Ð¾Ð»ÑÑ†Ð¸Ñ
ÐÐ°Ð´ÐµÐ¶Ð½Ð¾ÑÑ‚ÑŒ

BEGIN;
UPDATE accounts SET balance = balance - 100 WHERE id = 1;
UPDATE accounts SET balance = balance + 100 WHERE id = 2;
COMMIT;

Ð¢Ð¡ Ð¼Ð¾Ð¶Ð½Ð¾ Ð¾Ñ‚ÐºÐ°Ñ‚Ð¸Ñ‚ÑŒ

BEGIN;
UPDATE accounts SET balance = balance - 100 WHERE id = 1;
ROLLBACK; -- ÐžÑ‚Ð¼ÐµÐ½Ð° Ð¸Ð·Ð¼ÐµÐ½ÐµÐ½Ð¸Ð¹


Ð£Ñ€Ð¾Ð²Ð½Ð¸ Ñ‚Ñ€Ð°Ð½Ð·Ð°ÐºÑ†Ð¸Ð¹
READ COMMITTED (Ð¿Ð¾ ÑƒÐ¼Ð¾Ð»Ñ‡Ð°Ð½Ð¸ÑŽ Ð² PostgreSQL) - ÐšÐ°Ð¶Ð´Ñ‹Ð¹ Ð½Ð¾Ð²Ñ‹Ð¹ SELECT Ð²Ð¸Ð´Ð¸Ñ‚ Ð°ÐºÑ‚ÑƒÐ°Ð»ÑŒÐ½Ñ‹Ðµ Ð´Ð°Ð½Ð½Ñ‹Ðµ. 
REPEATABLE READ â€” Â«Ð·Ð°Ð¼Ð¾Ñ€Ð°Ð¶Ð¸Ð²Ð°ÐµÑ‚Â» Ð´Ð°Ð½Ð½Ñ‹Ðµ. Ð”Ð°Ð¶Ðµ ÐµÑÐ»Ð¸ ÐºÑ‚Ð¾-Ñ‚Ð¾ Ð² Ð´Ñ€ÑƒÐ³Ð¾Ð¹ Ñ‚Ñ€Ð°Ð½Ð·Ð°ÐºÑ†Ð¸Ð¸ Ð²Ð½Ñ‘Ñ Ð¸Ð·Ð¼ÐµÐ½ÐµÐ½Ð¸Ñ Ð¸ ÑÐ´ÐµÐ»Ð°Ð» COMMIT, Ð¼Ñ‹ ÑÑ‚Ð¾Ð³Ð¾ Ð½Ðµ ÑƒÐ²Ð¸Ð´Ð¸Ð¼, Ð¿Ð¾ÐºÐ° Ð½Ðµ Ð·Ð°ÐºÐ¾Ð½Ñ‡Ð¸Ð¼ ÑÐ²Ð¾ÑŽ Ñ‚Ñ€Ð°Ð½Ð·Ð°ÐºÑ†Ð¸ÑŽ.
SERIALIZABLE â€” ÑÐ°Ð¼Ñ‹Ð¹ ÑÑ‚Ñ€Ð¾Ð³Ð¸Ð¹ ÑƒÑ€Ð¾Ð²ÐµÐ½ÑŒ. Ð˜Ð¼Ð¸Ñ‚Ð°Ñ†Ð¸Ñ Ð¿Ð¾ÑÐ»ÐµÐ´Ð¾Ð²Ð°Ñ‚ÐµÐ»ÑŒÐ½Ð¾Ð³Ð¾ Ð²Ñ‹Ð¿Ð¾Ð»Ð½ÐµÐ½Ð¸Ñ Ñ‚Ñ€Ð°Ð½Ð·Ð°ÐºÑ†Ð¸Ð¹ (Ð±ÑƒÐ´Ñ‚Ð¾ Ð¾Ð½Ð¸ Ð²Ñ‹Ð¿Ð¾Ð»Ð½ÑÐ»Ð¸ÑÑŒ Ð¾Ð´Ð½Ð° Ð·Ð° Ð´Ñ€ÑƒÐ³Ð¾Ð¹). Ð•ÑÐ»Ð¸ Ð²Ð¾Ð·Ð¼Ð¾Ð¶ÐµÐ½ ÐºÐ¾Ð½Ñ„Ð»Ð¸ÐºÑ‚ â†’ Ð¾Ð´Ð½Ð° Ð¸Ð· Ñ‚Ñ€Ð°Ð½Ð·Ð°ÐºÑ†Ð¸Ð¹ Ð¾Ñ‚Ð¼ÐµÐ½ÑÐµÑ‚ÑÑ (ROLLBACK).

READ COMMITTED
ÐšÐ¾Ð³Ð´Ð° Ð¿Ñ€Ð¸Ð¼ÐµÐ½ÑÑ‚ÑŒ?
âœ… ÐšÐ¾Ð³Ð´Ð° Ð²Ð°Ð¶Ð½Ð° Ð°ÐºÑ‚ÑƒÐ°Ð»ÑŒÐ½Ð¾ÑÑ‚ÑŒ Ð´Ð°Ð½Ð½Ñ‹Ñ…, Ð½Ð¾ Ð½Ðµ ÐºÑ€Ð¸Ñ‚Ð¸Ñ‡Ð½Ð¾, Ñ‡Ñ‚Ð¾ Ñ€ÐµÐ·ÑƒÐ»ÑŒÑ‚Ð°Ñ‚Ñ‹ Ð¼Ð¾Ð³ÑƒÑ‚ Ð½ÐµÐ¼Ð½Ð¾Ð³Ð¾ Ð¾Ñ‚Ð»Ð¸Ñ‡Ð°Ñ‚ÑŒÑÑ Ð² Ñ‚ÐµÑ‡ÐµÐ½Ð¸Ðµ Ñ‚Ñ€Ð°Ð½Ð·Ð°ÐºÑ†Ð¸Ð¸.

REPEATABLE READ
ÐšÐ¾Ð³Ð´Ð° Ð¿Ñ€Ð¸Ð¼ÐµÐ½ÑÑ‚ÑŒ?
âœ… ÐšÐ¾Ð³Ð´Ð° Ð²Ð°Ð¶Ð½Ð¾, Ñ‡Ñ‚Ð¾Ð±Ñ‹ Ð´Ð°Ð½Ð½Ñ‹Ðµ Ð½Ðµ Ð¼ÐµÐ½ÑÐ»Ð¸ÑÑŒ Ð² Ñ‚ÐµÑ‡ÐµÐ½Ð¸Ðµ Ñ‚Ñ€Ð°Ð½Ð·Ð°ÐºÑ†Ð¸Ð¸, Ð½Ð°Ð¿Ñ€Ð¸Ð¼ÐµÑ€, Ð¿Ñ€Ð¸ Ð³ÐµÐ½ÐµÑ€Ð°Ñ†Ð¸Ð¸ Ð¾Ñ‚Ñ‡Ñ‘Ñ‚Ð¾Ð² Ð¸Ð»Ð¸ Ñ€Ð°ÑÑ‡Ñ‘Ñ‚Ðµ ÑÑ€ÐµÐ´Ð½ÐµÐ³Ð¾ Ñ‡ÐµÐºÐ°.

SERIALIZABLE
ÐšÐ¾Ð³Ð´Ð° Ð¿Ñ€Ð¸Ð¼ÐµÐ½ÑÑ‚ÑŒ?
âœ… ÐšÐ¾Ð³Ð´Ð° Ð½ÑƒÐ¶Ð½Ð° 100% Ð·Ð°Ñ‰Ð¸Ñ‚Ð° Ð¾Ñ‚ ÐºÐ¾Ð½Ñ„Ð»Ð¸ÐºÑ‚Ð¾Ð², Ð½Ð°Ð¿Ñ€Ð¸Ð¼ÐµÑ€, Ð¿Ñ€Ð¸ Ñ„Ð¸Ð½Ð°Ð½ÑÐ¾Ð²Ñ‹Ñ… Ð¾Ð¿ÐµÑ€Ð°Ñ†Ð¸ÑÑ….
âš  ÐœÐ¸Ð½ÑƒÑ: Ð¼Ð¾Ð¶ÐµÑ‚ Ð¿Ñ€Ð¸Ð²Ð¾Ð´Ð¸Ñ‚ÑŒ Ðº Ñ‡Ð°ÑÑ‚Ñ‹Ð¼ ROLLBACK, ÐµÑÐ»Ð¸ Ð¼Ð½Ð¾Ð³Ð¾ Ð¿Ð°Ñ€Ð°Ð»Ð»ÐµÐ»ÑŒÐ½Ñ‹Ñ… Ð¾Ð¿ÐµÑ€Ð°Ñ†Ð¸Ð¹.

In [ ]:
READ COMMITTED 
-- Ð¢Ñ€Ð°Ð½Ð·Ð°ÐºÑ†Ð¸Ñ 1
BEGIN;
UPDATE users SET balance = balance - 500 WHERE id = 1;
-- ÐŸÐ¾ÐºÐ° Ð½ÐµÑ‚ COMMIT, Ð´Ñ€ÑƒÐ³Ð¸Ðµ Ñ‚Ñ€Ð°Ð½Ð·Ð°ÐºÑ†Ð¸Ð¸ Ð½Ðµ Ð²Ð¸Ð´ÑÑ‚ Ð¸Ð·Ð¼ÐµÐ½ÐµÐ½Ð¸Ñ

-- Ð¢Ñ€Ð°Ð½Ð·Ð°ÐºÑ†Ð¸Ñ 2
BEGIN;
SELECT balance FROM users WHERE id = 1; -- Ð’Ð¸Ð´Ð¸Ñ‚ ÑÑ‚Ð°Ñ€Ñ‹Ðµ Ð´Ð°Ð½Ð½Ñ‹Ðµ, Ð¿Ð¾ÐºÐ° Ð½Ðµ Ð±ÑƒÐ´ÐµÑ‚ COMMIT Ð² Ð¢Ñ€Ð°Ð½Ð·Ð°ÐºÑ†Ð¸Ð¸ 1
COMMIT;

REPEATABLE READ
-- Ð¢Ñ€Ð°Ð½Ð·Ð°ÐºÑ†Ð¸Ñ 1
BEGIN TRANSACTION ISOLATION LEVEL REPEATABLE READ;
SELECT SUM(balance) FROM users; -- 10000

-- Ð¢Ñ€Ð°Ð½Ð·Ð°ÐºÑ†Ð¸Ñ 2 (Ð²Ð½Ð¾ÑÐ¸Ñ‚ Ð¸Ð·Ð¼ÐµÐ½ÐµÐ½Ð¸Ñ Ð¸ Ñ„Ð¸ÐºÑÐ¸Ñ€ÑƒÐµÑ‚ Ð¸Ñ…)
BEGIN;
UPDATE users SET balance = balance - 500 WHERE id = 1;
COMMIT;

-- Ð¢Ñ€Ð°Ð½Ð·Ð°ÐºÑ†Ð¸Ñ 1 ÑÐ½Ð¾Ð²Ð° Ð´ÐµÐ»Ð°ÐµÑ‚ SELECT (Ð²Ð¸Ð´Ð¸Ñ‚ ÑÑ‚Ð°Ñ€Ñ‹Ðµ Ð´Ð°Ð½Ð½Ñ‹Ðµ!)
SELECT SUM(balance) FROM users; -- Ð’ÑÑ‘ ÐµÑ‰Ñ‘ 10000
COMMIT;

SERIALIZABLE
-- Ð¢Ñ€Ð°Ð½Ð·Ð°ÐºÑ†Ð¸Ñ 1
BEGIN TRANSACTION ISOLATION LEVEL SERIALIZABLE;
SELECT balance FROM users WHERE id = 1; -- 5000

-- Ð¢Ñ€Ð°Ð½Ð·Ð°ÐºÑ†Ð¸Ñ 2 Ð¸Ð·Ð¼ÐµÐ½ÑÐµÑ‚ Ñ‚Ð¾ Ð¶Ðµ Ð·Ð½Ð°Ñ‡ÐµÐ½Ð¸Ðµ
BEGIN TRANSACTION ISOLATION LEVEL SERIALIZABLE;
UPDATE users SET balance = balance - 100 WHERE id = 1;
COMMIT;

-- Ð¢Ñ€Ð°Ð½Ð·Ð°ÐºÑ†Ð¸Ñ 1 Ð¿Ñ‹Ñ‚Ð°ÐµÑ‚ÑÑ Ð¾Ð±Ð½Ð¾Ð²Ð¸Ñ‚ÑŒ, Ð½Ð¾ Ð¿Ð¾Ð»ÑƒÑ‡Ð¸Ñ‚ Ð¾ÑˆÐ¸Ð±ÐºÑƒ
UPDATE users SET balance = balance - 200 WHERE id = 1;
COMMIT; -- âŒ ÐžÑˆÐ¸Ð±ÐºÐ°: Ñ‚Ñ€Ð°Ð½Ð·Ð°ÐºÑ†Ð¸Ñ ÐºÐ¾Ð½Ñ„Ð»Ð¸ÐºÑ‚ÑƒÐµÑ‚!

In [ ]:
Ð§Ñ‚Ð¾ Ñ‚Ð°ÐºÐ¾Ðµ NULL Ð¸ ÐºÐ°Ðº Ñ Ð½Ð¸Ð¼ Ñ€Ð°Ð±Ð¾Ñ‚Ð°Ñ‚ÑŒ Ð² ORDER BY, GROUP BY, JOIN

NULL - Ð² Ð¿Ð¾ÑÑ‚Ð³Ñ€ÐµÑ ÑÑ‚Ð¾ Ð¾Ñ‚Ð´ÐµÐ»ÑŒÐ½Ñ‹Ð¹ Ñ‚Ð¸Ð¿ Ð´Ð°Ð½Ð½Ñ‹Ñ…, Ð¿Ð¾ÑÑ‚Ð¾Ð¼Ñƒ ÐµÐ³Ð¾ Ð¼Ð¾Ð¶Ð½Ð¾ Ð³Ñ€ÑƒÐ¿Ð¿Ð¸Ñ€Ð¾Ð²Ð°Ñ‚ÑŒ

ORDER BY - ASC - NULL Ð²Ð²ÐµÑ€Ñ…Ñƒ, DESC - NULL Ð²Ð½Ð¸Ð·Ñƒ
GROUP BY - Ð¿Ñ€Ð¸ Ð³Ñ€ÑƒÐ¿Ð¿Ð¸Ñ€Ð¾Ð²ÐºÐµ Ð¿Ð¾ÐºÐ°Ð¶ÐµÑ‚ ÐºÐ¾Ð»-Ð²Ð¾ NULL Ð² Ñ‚Ð°Ð±Ð»
JOIN - Ð½Ðµ Ð¾Ð±ÑŠÐµÐ´Ð¸Ð½ÑÐµÑ‚ Ð¸Ñ…. Ð½Ð¾ Ð¼Ð¾Ð¶Ð½Ð¾ Ð´ÐµÐ»Ð°Ñ‚ÑŒ Ð¾Ñ‚Ð±Ð¾Ñ€ 
where s in NULL
where s is not null

In [ ]:
ÐÐ°Ð¿Ð¸ÑˆÐ¸Ñ‚Ðµ SQL-Ð·Ð°Ð¿Ñ€Ð¾Ñ, ÐºÐ¾Ñ‚Ð¾Ñ€Ñ‹Ð¹ Ð²ÐµÑ€Ð½ÐµÑ‚:
ÐšÐ¾Ð»Ð¸Ñ‡ÐµÑÑ‚Ð²Ð¾ Ð·Ð°ÐºÐ°Ð·Ð¾Ð² (count(user_id), sum(amount)) Ð¸ ÑÑƒÐ¼Ð¼Ð°Ñ€Ð½ÑƒÑŽ ÑÑƒÐ¼Ð¼Ñƒ Ð·Ð°ÐºÐ°Ð·Ð¾Ð² Ð´Ð»Ñ ÐºÐ°Ð¶Ð´Ð¾Ð³Ð¾ user_id,
Ð¢Ð¾Ð»ÑŒÐºÐ¾ Ð´Ð»Ñ Ð¿Ð¾Ð»ÑŒÐ·Ð¾Ð²Ð°Ñ‚ÐµÐ»ÐµÐ¹, Ñƒ ÐºÐ¾Ñ‚Ð¾Ñ€Ñ‹Ñ… ÑÑƒÐ¼Ð¼Ð° Ð²ÑÐµÑ… Ð·Ð°ÐºÐ°Ð·Ð¾Ð² Ð±Ð¾Ð»ÑŒÑˆÐµ 500.

In [ ]:
CREATE TABLE orders (
    id SERIAL PRIMARY KEY,
    user_id INT,
    order_date DATE,
    amount DECIMAL
);

INSERT INTO orders (user_id, order_date, amount) VALUES
(1, '2024-03-01', 200),
(1, '2024-03-02', 100),
(1, '2024-03-05', 300),
(2, '2024-03-01', 150),
(2, '2024-03-02', 100),
(3, '2024-03-01', 600),
(3, '2024-03-02', 50);

select
user_id,
count(*),
sum(amount)
from orders
group by user_id
having sum(amount) > 500;

In [ ]:
CREATE TABLE users (
    id SERIAL PRIMARY KEY,
    name TEXT
);

CREATE TABLE orders (
    id SERIAL PRIMARY KEY,
    user_id INT REFERENCES users(id),
    order_date DATE,
    amount DECIMAL
);

INSERT INTO users (id, name) VALUES
(1, 'Alice'),
(2, 'Bob'),
(3, 'Charlie'),
(4, 'David'); -- David Ð½Ðµ ÑÐ´ÐµÐ»Ð°Ð» Ð·Ð°ÐºÐ°Ð·Ð¾Ð²

INSERT INTO orders (user_id, order_date, amount) VALUES
(1, '2024-03-01', 200),
(2, '2024-03-02', 150),
(3, '2024-03-03', 300);

/* ÐÐ°Ð¹Ñ‚Ð¸ Ð¿Ð¾Ð»ÑŒÐ·Ð¾Ð²Ð°Ñ‚ÐµÐ»ÐµÐ¹ Ð±ÐµÐ· Ð·Ð°ÐºÐ°Ð·Ð¾Ð² */

select 
u.name,
count(amount) as cnt_ord
from users u
left join orders o on o.user_id = u.id
where o.id is null
group by u.name
;

In [ ]:
CREATE TABLE users (
    id SERIAL PRIMARY KEY,
    name TEXT
);

CREATE TABLE orders (
    id SERIAL PRIMARY KEY,
    user_id INT REFERENCES users(id),
    order_date DATE,
    amount DECIMAL
);

INSERT INTO users (name) VALUES 
('Alice'),
('Bob'),
('Charlie');

INSERT INTO orders (user_id, order_date, amount) VALUES 
(1, '2024-03-01', 100),  
(1, '2024-03-05', 250),  
(2, '2024-03-10', 50),  
(2, '2024-03-12', 300),  
(3, '2024-03-15', 100);  


/* ÐÐ°Ð¹Ñ‚Ð¸ Ð¿Ð¾Ð»ÑŒÐ·Ð¾Ð²Ð°Ñ‚ÐµÐ»ÐµÐ¹, Ñƒ ÐºÐ¾Ñ‚Ð¾Ñ€Ñ‹Ñ… ÑÑ€ÐµÐ´Ð½ÑÑ ÑÑƒÐ¼Ð¼Ð° Ð·Ð°ÐºÐ°Ð·Ð¾Ð² Ð±Ð¾Ð»ÑŒÑˆÐµ 150*/

select user_id,
round(avg(amount),0) as avg_o
from
orders
group by user_id
having avg(amount) > 150;


/* Ð—Ð°Ð´Ð°Ñ‡Ð° 2: ÐÐ°Ð¹Ñ‚Ð¸ Ð·Ð°ÐºÐ°Ð·Ñ‹, ÐºÐ¾Ñ‚Ð¾Ñ€Ñ‹Ðµ Ð´Ð¾Ñ€Ð¾Ð¶Ðµ ÑÑ€ÐµÐ´Ð½ÐµÐ³Ð¾ Ñ‡ÐµÐºÐ° Ð²ÑÐµÑ… Ð·Ð°ÐºÐ°Ð·Ð¾Ð²
*/
-- Ð½Ð°Ñ…Ð¾Ð´Ð¸Ð¼ ÑÑ€ÐµÐ´Ð½Ð¸Ð¹ Ñ‡ÐµÐº
with cte as (
select 
round(avg(amount), 0) as avg_o
from orders
  )
-- ÑÑ€Ð°Ð²Ð½Ð¸Ð²Ð°ÐµÐ¼ ÑÐ¾ Ð²ÑÐµÐ¼Ð¸  
  select * 
  from orders
  cross join cte
  where amount > avg_o

In [ ]:
/*  ÐÐ°Ð¹Ñ‚Ð¸ Ð²ÑÐµÑ… Ð¿Ð¾Ð»ÑŒÐ·Ð¾Ð²Ð°Ñ‚ÐµÐ»ÐµÐ¹ Ð¸ Ð¸Ñ… ÑÑƒÐ¼Ð¼Ñƒ Ð·Ð°ÐºÐ°Ð·Ð¾Ð², Ð²ÐºÐ»ÑŽÑ‡Ð°Ñ Ñ‚ÐµÑ…, Ñƒ ÐºÐ¾Ð³Ð¾ Ð·Ð°ÐºÐ°Ð·Ð¾Ð² Ð½ÐµÑ‚
*/


select 
    u.id,
    u.name,
    sum(amount) as s_buy
from users u
    left join orders o
on o.user_id = u.id
group by u.id,
        u.name

In [ ]:
/*  Ð—Ð°Ð´Ð°Ñ‡Ð° 4: ÐÐ°Ð¹Ñ‚Ð¸ ÐºÐ»Ð¸ÐµÐ½Ñ‚Ð¾Ð², ÐºÐ¾Ñ‚Ð¾Ñ€Ñ‹Ðµ Ð´ÐµÐ»Ð°Ð»Ð¸ Ð·Ð°ÐºÐ°Ð·Ñ‹ Ð² Ñ€Ð°Ð·Ð½Ñ‹Ðµ Ð´Ð½Ð¸ */

SELECT user_id, 
       COUNT(DISTINCT order_date) AS unique_days
FROM orders
GROUP BY user_id
HAVING COUNT(DISTINCT order_date) > 1;

In [ ]:
 Ð’Ñ‹Ð²ÐµÑÑ‚Ð¸ Ð²ÑÐµÑ… Ð¿Ð¾Ð»ÑŒÐ·Ð¾Ð²Ð°Ñ‚ÐµÐ»ÐµÐ¹ Ð¸ Ð¸Ñ… Ð·Ð°ÐºÐ°Ð·Ñ‹, Ð½Ð¾ ÐµÑÐ»Ð¸ Ð·Ð°ÐºÐ°Ð·Ð¾Ð² Ð½ÐµÑ‚ â€” ÑƒÐºÐ°Ð·Ð°Ñ‚ÑŒ 
"ÐÐµÑ‚ Ð·Ð°ÐºÐ°Ð·Ð¾Ð²"


select 
u.name,
coalesce (o.amount::TEXT, "ÐÐµÑ‚ Ð·Ð°ÐºÐ°Ð·Ð¾Ð²")
    cast
as cnt
 from users left join orders ON u.id = o.user_id;

In [ ]:
/* Ð’Ñ‹Ð²ÐµÑÑ‚Ð¸ Ð²ÑÐµÑ… Ð¿Ð¾Ð»ÑŒÐ·Ð¾Ð²Ð°Ñ‚ÐµÐ»ÐµÐ¹ Ð¸ Ð¸Ñ… Ð·Ð°ÐºÐ°Ð·Ñ‹, Ð½Ð¾ ÐµÑÐ»Ð¸ Ð·Ð°ÐºÐ°Ð·Ð¾Ð² Ð½ÐµÑ‚ â€” ÑƒÐºÐ°Ð·Ð°Ñ‚ÑŒ 'ÐÐµÑ‚ Ð·Ð°ÐºÐ°Ð·Ð¾Ð²'
*/


select 
u.name,
CASE 
	when o.amount is null THEN 'ÐÐµÑ‚ Ð·Ð°ÐºÐ°Ð·Ð¾Ð²'
    else o.amount::TEXT
END as order_amount,
coalesce (o.amount::TEXT, 'ÐÐµÑ‚ Ð·Ð°ÐºÐ°Ð·Ð¾Ð²') as cnt
from users u left join orders o 
 ON u.id = o.user_id;

In [ ]:

Ð—Ð°Ð´Ð°Ñ‡Ð¸ (Ð¿Ð¾ WITH AS Ð¸ UNION | UNION ALL):
WITH AS
1ï¸âƒ£ ÐÐ°Ð¹Ñ‚Ð¸ ÑÑ€ÐµÐ´Ð½ÑŽÑŽ ÑÑƒÐ¼Ð¼Ñƒ Ð·Ð°ÐºÐ°Ð·Ð¾Ð² Ð¿Ð¾ ÐºÐ°Ð¶Ð´Ð¾Ð¼Ñƒ ÐºÐ»Ð¸ÐµÐ½Ñ‚Ñƒ Ð¸ Ð²Ñ‹Ð±Ñ€Ð°Ñ‚ÑŒ ÐºÐ»Ð¸ÐµÐ½Ñ‚Ð¾Ð² Ñ ÑÑƒÐ¼Ð¼Ð¾Ð¹ Ð¿Ð¾ÐºÑƒÐ¿Ð¾Ðº Ð²Ñ‹ÑˆÐµ 500.



    SELECT
        o.customer_id,
        SUM(p.price * oi.quantity) AS total_buy
    FROM orders o
    JOIN order_items oi ON oi.order_id = o.id
    JOIN products p ON p.id = oi.product_id
    GROUP BY o.customer_id
  having SUM(p.price * oi.quantity) > 500;

*/


/*
ÐžÐ¿Ñ€ÐµÐ´ÐµÐ»Ð¸Ñ‚ÑŒ ÐºÐ¾Ð»Ð¸Ñ‡ÐµÑÑ‚Ð²Ð¾ Ð¿Ñ€Ð¾Ð´Ð°Ð½Ð½Ñ‹Ñ… Ñ‚Ð¾Ð²Ð°Ñ€Ð¾Ð² Ð¿Ð¾ ÐºÐ°Ñ‚ÐµÐ³Ð¾Ñ€Ð¸ÑÐ¼ Ð¸ Ð²Ñ‹Ð²ÐµÑÑ‚Ð¸ ÐºÐ°Ñ‚ÐµÐ³Ð¾Ñ€Ð¸Ð¸, Ð³Ð´Ðµ Ð¿Ñ€Ð¾Ð´Ð°Ð½Ð¾ Ð±Ð¾Ð»ÐµÐµ 5 Ñ‚Ð¾Ð²Ð°Ñ€Ð¾Ð².
*/

SELECT 
c.name,
sum(oi.quantity) as sum_sell
FROM orders o
    JOIN order_items oi ON oi.order_id = o.id
    JOIN products p ON p.id = oi.product_id
	JOIN categories c ON p.category_id = c.id
 group by  c.name
having sum(oi.quantity) > 5;



3 ÐÐ°Ð¹Ñ‚Ð¸ ÑÐ°Ð¼ÑƒÑŽ Ð´Ð¾Ñ€Ð¾Ð³ÑƒÑŽ Ð¿Ð¾ÐºÑƒÐ¿ÐºÑƒ ÐºÐ°Ð¶Ð´Ð¾Ð³Ð¾ ÐºÐ»Ð¸ÐµÐ½Ñ‚Ð°.
WITH t AS (
    SELECT 
        o.customer_id,
        c.name,
        oi.order_id,
        SUM(oi.quantity * p.price) AS sum_buy_per_user
    FROM orders o
    JOIN order_items oi ON oi.order_id = o.id
    JOIN products p ON p.id = oi.product_id
    JOIN customers c ON o.customer_id = c.id
    GROUP BY o.customer_id, c.name, oi.order_id    
)
SELECT 
    customer_id,
    name,
    MAX(sum_buy_per_user) AS max_buy
FROM t
GROUP BY customer_id, name;

In [ ]:
UNION

1 Ð’Ñ‹Ð²ÐµÑÑ‚Ð¸ ÑÐ¿Ð¸ÑÐ¾Ðº Ð²ÑÐµÑ… ÐºÐ»Ð¸ÐµÐ½Ñ‚Ð¾Ð² Ð¸ Ð²ÑÐµÑ… ÐºÐ°Ñ‚ÐµÐ³Ð¾Ñ€Ð¸Ð¹ Ñ‚Ð¾Ð²Ð°Ñ€Ð¾Ð² Ð² Ð¾Ð´Ð½Ð¾Ð¼ ÑÐ¿Ð¸ÑÐºÐµ.
*/

SELECT
c.name as clients_and_cat,
'Clients' as type
FROM customers c
union all
SELECT
cat.name as clients_and_cat,
'Category' as type
FROM categories cat

In [ ]:
ÐÐ°Ð¹Ñ‚Ð¸ ÐºÐ»Ð¸ÐµÐ½Ñ‚Ð¾Ð², ÐºÐ¾Ñ‚Ð¾Ñ€Ñ‹Ðµ Ð¿Ð¾ÐºÑƒÐ¿Ð°Ð»Ð¸ Ð¸ Electronics, Ð¸ Clothing.
*/
SELECT 
c.name
FROM orders o
    JOIN order_items oi ON oi.order_id = o.id
    JOIN products p ON p.id = oi.product_id
	JOIN categories cat ON p.category_id = cat.id
    JOIN customers c ON o.customer_id = c.id
where cat.name in ('Electronics', 'Clothing')
group by
c.name
having count(dictinct c.name) =2

In [1]:
union 

-- Ð¡Ð¾Ð·Ð´Ð°Ð½Ð¸Ðµ Ñ‚Ð°Ð±Ð»Ð¸Ñ†Ñ‹ ÐºÐ»Ð¸ÐµÐ½Ñ‚Ð¾Ð²
CREATE TABLE customers (
    id SERIAL PRIMARY KEY,
    name TEXT,
    age INT
);

-- Ð¡Ð¾Ð·Ð´Ð°Ð½Ð¸Ðµ Ñ‚Ð°Ð±Ð»Ð¸Ñ†Ñ‹ Ð·Ð°ÐºÐ°Ð·Ð¾Ð²
CREATE TABLE orders (
    id SERIAL PRIMARY KEY,
    customer_id INT REFERENCES customers(id),
    order_date DATE,
    total_amount DECIMAL(10,2)
);

-- Ð¡Ð¾Ð·Ð´Ð°Ð½Ð¸Ðµ Ñ‚Ð°Ð±Ð»Ð¸Ñ†Ñ‹ Ñ‚Ð¾Ð²Ð°Ñ€Ð¾Ð²
CREATE TABLE products (
    id SERIAL PRIMARY KEY,
    name TEXT,
    category TEXT,
    price DECIMAL(10,2)
);

-- Ð—Ð°Ð¿Ð¾Ð»Ð½ÐµÐ½Ð¸Ðµ Ð´Ð°Ð½Ð½Ñ‹Ð¼Ð¸ (ÐºÐ»Ð¸ÐµÐ½Ñ‚Ñ‹)
INSERT INTO customers (name, age) VALUES
('Alice', 25),
('Bob', 40),
('Charlie', 30),
('Diana', 35);

-- Ð—Ð°Ð¿Ð¾Ð»Ð½ÐµÐ½Ð¸Ðµ Ð´Ð°Ð½Ð½Ñ‹Ð¼Ð¸ (Ð·Ð°ÐºÐ°Ð·Ñ‹)
INSERT INTO orders (customer_id, order_date, total_amount) VALUES
(1, '2024-03-10', 120.50),
(2, '2024-03-11', 300.00),
(1, '2024-03-15', 80.75),
(3, '2024-03-12', 150.00);

-- Ð—Ð°Ð¿Ð¾Ð»Ð½ÐµÐ½Ð¸Ðµ Ð´Ð°Ð½Ð½Ñ‹Ð¼Ð¸ (Ñ‚Ð¾Ð²Ð°Ñ€Ñ‹)
INSERT INTO products (name, category, price) VALUES
('Laptop', 'Electronics', 1200.00),
('T-Shirt', 'Clothing', 20.00),
('Jeans', 'Clothing', 50.00),
('Smartphone', 'Electronics', 800.00),
('Book', 'Books', 15.00);

NameError: name 'union' is not defined

In [ ]:
-- Ð’Ñ‹Ð²ÐµÑÑ‚Ð¸ ÑÐ¿Ð¸ÑÐ¾Ðº Ð²ÑÐµÑ… ÐºÐ»Ð¸ÐµÐ½Ñ‚Ð¾Ð² Ð¸ Ð²ÑÐµÑ… ÐºÐ°Ñ‚ÐµÐ³Ð¾Ñ€Ð¸Ð¹ Ñ‚Ð¾Ð²Ð°Ñ€Ð¾Ð² Ð² Ð¾Ð´Ð½Ð¾Ð¼ Ð¾Ð±Ñ‰ÐµÐ¼ ÑÐ¿Ð¸ÑÐºÐµ.

select 
name,
'clients' as type
from customers
union
select 
category,
'category' as type
from products

In [ ]:
-- Ð’Ñ‹Ð²ÐµÑÑ‚Ð¸ Ð·Ð°ÐºÐ°Ð·Ñ‹ ÐºÐ»Ð¸ÐµÐ½Ñ‚Ð¾Ð² ÑÑ‚Ð°Ñ€ÑˆÐµ 30 Ð»ÐµÑ‚ Ð˜Ð›Ð˜ Ñ ÑÑƒÐ¼Ð¼Ð¾Ð¹ Ð·Ð°ÐºÐ°Ð·Ð° Ð±Ð¾Ð»ÑŒÑˆÐµ 200.

select 
o.id, c.name, o.order_date, o.total_amount
from orders o
left join customers c on o.customer_id = c.id
where age > 30 or total_amount > 200;

In [ ]:
Ð’Ñ‹Ð²ÐµÑÑ‚Ð¸ Ñ‚Ð¾Ð²Ð°Ñ€Ñ‹ Ñ Ð¿Ð¾Ð¼ÐµÑ‚ÐºÐ¾Ð¹:

"Expensive" ÐµÑÐ»Ð¸ Ñ†ÐµÐ½Ð° Ð²Ñ‹ÑˆÐµ 500
"Affordable" ÐµÑÐ»Ð¸ Ð¾Ñ‚ 100 Ð´Ð¾ 500
"Cheap" ÐµÑÐ»Ð¸ Ð¼ÐµÐ½ÑŒÑˆÐµ 100

select 
name, category, price,
CASE 
WHEN price > 500
THEN 'Expensive'

WHEN price > 100
THEN 'Affordable'

WHEN price < 100
THEN 'Cheap'
END

from products
;

In [ ]:
-- Ð’Ñ‹Ð²ÐµÑÑ‚Ð¸ Ð·Ð°ÐºÐ°Ð·Ñ‹, Ð½Ð¾ ÑÑƒÐ¼Ð¼Ñƒ Ð·Ð°ÐºÐ°Ð·Ð¾Ð² Ð¿Ñ€ÐµÐ¾Ð±Ñ€Ð°Ð·Ð¾Ð²Ð°Ñ‚ÑŒ Ð² ÑÑ‚Ñ€Ð¾ÐºÑƒ.
select 
customer_id, order_date, 
CAST(total_amount as TEXT) as price
from orders
;